[2018-02-18 19:17] DubiEX opened #1 "Demo Page infinite loop render when url contains path subroutes"
Hi,

I found a really weird bug, I cloned the repo and copied the required folders to a public folder, everything is working fine, but when I put `/something/` in the url then page seems to loop itself forever. Here's how it looks.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/35936100/36355736-02806f22-14e8-11e8-814e-0ad3b1c5ca63.gif)

I put the alert inside the bundle file to

[2018-02-19 07:03] ezhukovskiy commented on #1
Hi,
yes, it is a bug in `create-react-app` that returns the default page if an incorrect URL is entered.
If you use another HTTP server than `create-react-app`, you won't have this error.
If you know how to fix it, please make a PR.

[2018-02-19 08:38] saimol opened #2 "Failed to compile. when npm start on localhost"
`sudo npm start`
when i run this command on my ubuntu 14.04 i get below error

Starting type checking and linting service...
Using 1 worker with 2048MB memory limit
Watching: /var/www/html/workspace/react-example/src

Starting the development server...

ts-loader: Using typescript@2.7.2 and /var/www/html/workspace/react-example/tsconfig.json
No valid rules have been specified

Failed to compile.

[2018-02-19 08:41] timocov commented on #2
Try to use the example with `unstable` version of charting library - it should be work fine.

[2018-02-19 08:55] saimol commented on #2
Thank you so much!! It worked with unstable version instead of Version 1.12 of charting library. Copy 'datafeeds' and 'charting_library' folders from unstable branch into public folder of 'react-example'

[2018-02-19 11:01] timocov commented on #2
It will be fixed with next charting library stable update (I believe tomorrow)

[2018-02-19 11:01] #2 closed

[2018-02-19 11:04] timocov commented on #2
For now you can replace `object` [here](https://github.com/tradingview/charting_library/blob/c982afe3f1be566b13915e580a7c775a88b0c538/datafeeds/udf/src/requester.ts#L4) and [here](https://github.com/tradingview/charting_library/blob/c982afe3f1be566b13915e580a7c775a88b0c538/datafeeds/udf/src/requester.ts#L6) with `RequestInit`.

[2018-02-19 11:15] #1 closed

[2018-03-12 13:09] kevalkk opened #3 "How can bind own data in datafeed?"
I has download charting_library and run it. i want to display BTC(bitcoin) chart.
There is code like
TradingView.onready(function()
			{
				var widget = window.tvWidget = new TradingView.widget({
					// debug: true, // uncomment this line to see Library errors and warnings in the console
					fullscreen: true,
					symbol: 'AAPL',
					interval: 'D',
					container_id: "tv_chart_container",

[2018-03-12 13:36] timocov commented on #3
Please create issue in https://github.com/tradingview/charting_library.

[2018-03-12 13:36] #3 closed

[2018-03-31 08:04] bfischer1121 opened #4 "Broken links"
https://github.com/tradingview/charting_library/ seems to be inaccessible

[2018-03-31 08:09] bfischer1121 commented on #4
Ok, I see the note in the website.

[2018-03-31 08:09] #4 closed

[2018-03-31 08:24] bfischer1121 opened #5 "Data format"
Would it be possible to get a description of the data format(s) compatible with the chart?

For example, is OHLCV the ideal data format? If so, would we need to be able to supply data for 1 minute periods?

We're not yet ready to tackle integration & legal agreement, but want to ensure the backend is designed to handle the requirements. Thank you!

[2018-04-02 06:46] ezhukovskiy commented on #5
data is supplied in OHLCV
if you need 1,5,15... minute bars you'll need to supply 1 minute bars
if you need only daily, weekly and monthly, you won't need that

[2018-04-02 06:46] #5 closed

[2018-04-06 00:31] gunaycakmak opened #6 "feed configuration"
There are too many documents in this chart system.

The solution you offer is very good.

thanks for your contributions

----------------

How will this system connect my data?
Will the database listen?
Should I connect with database information?
Should I re-write the entire site infrastructure for the chart?

[2018-04-06 05:42] timocov commented on #6
Why do you create the issue in this repo? Is it examples problem/question?

[2018-04-06 05:42] #6 closed

[2018-04-23 20:38] ekkis opened #9 "How To Start is incorrect"
on this page: https://github.com/tradingview/charting-library-examples/tree/master/react-example step 2 of "How To Start" indicate:

however, the link provided produces a 404.  where am I supposed to get that folder from?

[2018-04-24 08:47] qizf7 opened #10 "Cannot find module '../../../public/charting_library/charting_library.min'."
Failed to compile
/Users/alibaba/Downloads/charting-library-examples-master/react-example/src/components/TVChartContainer/index.tsx
(6,8): Cannot find module '../../../public/charting_library/charting_library.min'.
This error occurred during the build time and cannot be dismissed.

[2018-04-24 08:48] timocov commented on #10
Did you 3 step from https://github.com/tradingview/charting-library-examples/tree/master/react-example#how-to-start?

[2018-04-24 19:36] ekkis commented on #9
then it should state so on the page. so that those of use that can access the page don't have to open tickets to figure out why we can't follow the instructions

[2018-04-24 21:58] timocov commented on #9
Yes, you are right https://github.com/tradingview/charting-library-examples#what-is-charting-library

[2018-04-27 19:47] ekkis opened #11 "How do I detect the creation of a trendline?"
I’ve looked carefully through the developer documentation for the library but cannot find a proper way to hook onto the creation of a trendline on the graph

I see `onDataLoaded()`, `onSymbolChanged()`, `onIntervalChange()` and `dataReady()`, none of which would trigger when the user drops a trendline on the chart.  the best I seem to find is the crossHairMoved() which fires every time the cursor

[2018-04-28 06:38] ezhukovskiy commented on #11
Hi,
please ask all your questions in the charting_library repo.

[2018-04-28 06:38] #11 closed

[2018-04-28 06:55] #10 closed

[2018-04-30 21:15] ekkis commented on #11
there's no such repo.  here are the repositories listed under TradingView:

tv-pylint-translations-rule
charting-library-examples
tradingview
dynamic-dual-import-webpack-plugin
yahoo_datafeed
saveload_backend
tradingview.github.io
webpack-uglify-parallel
tv-polyfill
react-redux-ts-demo
css-file-rules-webpack-separator

[2018-05-03 08:09] timocov commented on #11
This is private repo and [request an access to this repository](https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/).

[2018-05-04 08:00] zhangyu0218 opened #12 "Is there an example of the react-js version now?"
Is there an example of the react-js version now?

[2018-05-04 09:29] timocov commented on #12
https://github.com/tradingview/charting-library-examples/tree/master/react-javascript

It is `react-typescript` example written in JavaScript (I just stripped all types from code and remove some TypeScript's stuff).

[2018-05-04 09:29] #12 closed

[2018-05-04 10:05] zhangyu0218 commented on #12
Why did I introduce 'charting_library. min.js' on my own react project with the following error?

![image](https://user-images.githubusercontent.com/33249149/39622642-9a6e1290-4fc5-11e8-879c-96268aaf1cb6.png)

Do I need to modify what is in my project?

[2018-05-04 10:26] timocov commented on #12
It is related to your project structure and `react-scripts` - they does not allow to import files outside `src` folder.

To fix it you need to move `charting_library` inside `src` folder or remove `react-scripts` and use own webpack configs.

[2018-05-04 10:41] zhangyu0218 commented on #12
I moved charting_library to the src directory, but there are new problems

![image](https://user-images.githubusercontent.com/33249149/39624146-c81698b6-4fca-11e8-9951-6850b3e2770d.png)

[2018-05-04 10:59] timocov commented on #12
I'm not sure now you can fix it. Possible you need to search how `react-scripts` works.

I prefer to use own webpack config and control what I expect from building the application. In examples we use `react-scripts` to decrease other stuffs which are not related to example itself.

But anyway seems that our examples works fine.

@everget could you please take a look?

[2018-05-04 11:10] timocov commented on #12
The reason of this behavior is importing `charting_library.min.js` file instead of using global variables to create charting library widget (and import is preferred way to create charting library widget).

I guess we need to "fix" our examples to use importing instead of using global variables (where it is possible), but I am not sure whether we can do it with `react-scripts`.

[2018-05-04 11:30] zhangyu0218 commented on #12
Can you provide a contact information, such as facebook, I still have some questions to ask you, for example: how to connect my data to tradingView

[2018-05-04 11:36] timocov commented on #12
For such questions you can create an issue in charting_library repo.

[2018-05-04 11:48] zhangyu0218 commented on #12
Why do I get 404 when I visit?
Is it because my github account did not pass tradingView audit?

[2018-05-04 11:55] timocov commented on #12
https://github.com/tradingview/charting-library-examples/tree/master/react-javascript#how-to-start

[2018-05-04 12:03] zhangyu0218 commented on #12
OK Thank you for solving my problem

[2018-05-04 12:40] timocov commented on #12
@zhangyu0218 If you have no access to the repo, where did you find `charting_library.min.js` file?

[2018-05-08 19:35] anboia opened #15 "react-javascript example does not work in production."
When I run `yarn build` followed by `serve -s build` to start the example in production mode, the example does not work. Here is the error that shows up:

![screen shot 2018-05-08 at 1 35 15 pm](https://user-images.githubusercontent.com/4477665/39778759-95471c6a-52dd-11e8-9ba1-c3d9e5765fc5.png)

There is no error when simply running `yarn start`.

The error seems to be similar to #1

[2018-05-09 06:55] timocov commented on #15
Do you copy `charting_library` and `datafeed` folders to `react-javascript/public` folder as described [here](https://github.com/tradingview/charting-library-examples/tree/master/react-javascript#how-to-start)?

[2018-05-09 07:28] anboia commented on #15
Yes, I did. As I mentioned, there is no error when running in development mode (`yarn start`), the TradeView works perfectly.

[2018-05-10 08:45] timocov commented on #15
I have tried to reproduce it with latest `master` and it works fine.

[2018-05-29 14:00] andrewtabit opened #17 "How to set the dark theme for a chart?"
You have 2 themes for charts  on TradingView.com (light and dark) and the widget supports them as well but how can I set the dark theme if I am using the charting library with my datafeed instead of the widget? It doesn't seem to have any impact on the theme:

{
  "theme": "Dark"
}

[2018-06-07 04:45] ukrit-himakoon commented on #15
We got the same issue today @anboia @timocov Not sure how you solve this?

[2018-06-07 04:49] ukrit-himakoon opened #18 "Tradingview chart does not work while deploying to production"
The error is as follows:

[code]

anyone ever experience this?

[2018-06-07 08:46] timocov commented on #15
@everget could you please take a look?

[2018-06-07 08:46] timocov commented on #18
Could you please provide steps to reproduce?

[2018-06-09 06:26] stockfinex opened #19 "Error in Trading view chart angular 5 example."
1 => there is no charting library exist when i download project from github using link
https://github.com/tradingview/charting-library-examples/

so i have to manually add the charting library js into folder.

**Then i set allow js option into tsconfig.json**

2 => ERROR in app/tv-chart-container/tv-chart-container.component.ts(7,8):
error TS6143: Module '../../assets/charting_library/charting_lib

[2018-06-09 07:09] ezhukovskiy commented on #19
Maybe the following issue will help you:
https://github.com/tradingview/charting_library/issues/1516

[2018-06-09 07:10] ezhukovskiy commented on #19
If it doesn't help then please create an issue in that repository.

[2018-06-09 07:10] #19 closed

[2018-06-11 03:52] ukrit-himakoon commented on #18
It seems to be the react issue related to cache mechanism. We could need to investigate this more on react end first.

[2018-06-11 03:52] #18 closed

[2018-06-21 07:13] zhangyu0218 opened #20 "Cannot read property 'initializationFinished' of null"
This error occurs when I switch the market .Cannot read property 'initializationFinished' of null.
How can I avoid this error

![image](https://user-images.githubusercontent.com/33249149/41703353-952ef86a-7565-11e8-9ecd-a670d7a725c8.png)

[2018-06-21 09:06] zhangyu0218 opened #21 "Why sometimes the ‘onHistoryCallback’ method is not executed"

[2018-06-21 09:15] timocov commented on #21
Please create an issue in https://github.com/tradingview/charting_library repo. It is not related to examples.

[2018-06-21 09:15] #21 closed

[2018-06-21 09:39] timocov commented on #20
It seems that this issue is not related to the examples - it is related to the charting library. Please create an issue in [charting library repo](https://github.com/tradingview/charting_library).

[2018-06-21 09:39] #20 closed

[2018-06-22 02:52] ukrit-himakoon commented on #15
:) any chance for this?

[2018-06-26 10:17] everget commented on #15
@anboia @ukrit-himakoon try to use another server

[2018-06-28 09:44] cecfe opened #22 "why the k line looks like strange"
![image](https://user-images.githubusercontent.com/35756847/42026827-b8687d7a-7afa-11e8-9005-8e400907042c.png)

How shoud I config the tradingview code to avoid this  issues? It seems the k line zoomed .

[2018-07-04 01:42] Ephinence opened #23 "https://github.com/tradingview/charting_library/wiki has not found."
https://github.com/tradingview/charting_library/wiki was not found but email to me, Trading View CoFounder.

https://github.com/tradingview/charting_library/wiki link.

but 404 not found.

how to request it?

is this  https://github.com/tradingview/charting_library ?

thnx for  reading.
best regards...

[2018-07-04 07:12] timocov commented on #23
It is private repo and you need to get granted access to open it.

Please request a access via https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/.

[2018-07-04 07:12] #23 closed

[2018-07-14 00:45] turukocom opened #24 "how can i use charting library with peatio exchange ( ruby on rails ) ?"
how can i use charting library with peatio exchange ( ruby on rails ) ?

[2018-07-14 08:57] timocov commented on #24
And why you ask this question here? This repo contains examples of integration the charting library with some frameworks/libraries/etc.

[2018-07-14 08:57] #24 closed

[2018-07-14 14:46] dev1alwin opened #25 "Add new widget option"
Can't add new widget option. i need to add the new widget option for the changing the default chart type but i can't do it on this package

I added the style option in ChartingLibraryWidgetOptions object in charting_library.min.d.ts

[2018-07-14 19:48] timocov commented on #25
And why do you create the issue in this repo? This repo is about examples of integration of the charting library.

Issues about charting library should be here https://github.com/tradingview/charting_library.

[2018-07-14 19:48] #25 closed

[2018-07-16 18:45] PatSheaFalcon opened #26 "Hide heading info in react javascript example?"
My team is using your react javascript example to display a trading view on our site. The headings currently look like this:
<img width="640" alt="screen shot 2018-07-16 at 11 41 14 am" src="https://user-images.githubusercontent.com/40438547/42776950-7d7b1b9a-88ed-11e8-9e64-6cee57ef47f7.png">

Is there a way to minimize that info by default so that the headings can look like the following image ri

[2018-07-17 06:20] ezhukovskiy commented on #26
Please create issues here:
https://github.com/tradingview/charting_library/issues

[2018-07-17 06:20] #26 closed

[2018-07-20 07:24] liuxiaocong commented on #18
Same issue , who can help?

[2018-07-20 17:03] lvze1992 opened #29 "npm install error"
I clone the project charting-library-examples. and run "npm install" in react-javascript folder.

then errors shows, what's the problem?
<img width="715" alt="2018-07-21 1 00 01" src="https://user-images.githubusercontent.com/14118535/43015286-d34d4362-8c81-11e8-9535-3fc41def6b67.png">

[2018-07-20 17:09] #29 closed

[2018-07-21 06:23] leeleeEcho opened #30 "nuxtjs example"

[2018-07-22 08:56] shiyunsheng opened #31 "vue is not work"
As shown
<img width="1908" alt="image" src="https://user-images.githubusercontent.com/10612112/43043987-1cd9135e-8dd0-11e8-939a-1d80594f5ce1.png">

[2018-07-23 08:38] timocov commented on #31
Could you please provide steps to reproduce it?

[2018-07-23 08:39] timocov commented on #30
Hi!

Unfortunately, nobody from our team is not familiar with nuxt.js, so please feel free to make PR!

[2018-07-23 08:44] timocov commented on #15
@anboia @ukrit-himakoon any updates?

[2018-07-24 07:47] bs-ravikiran commented on #18
I am also facing same issue on production mode

Uncaught TypeError: r.contentWindow.widgetReady is not a function
    at HTMLIFrameElement.t (charting_library.min.js:2)

[2018-07-25 05:47] BeomyeonAndrewKim commented on #15
I have a same issue.
For me, after adding https and domain, above bug happened.

[2018-07-27 09:04] ALX-TH commented on #31
Just follow the installation steps in the readme.md and got the same result as on the screen above.

[2018-07-27 09:05] ALX-TH commented on #31
@timocov  please check for operability

[2018-07-27 09:47] timocov commented on #31
Guys, please make sure that you copy right folder from charting_library repo to the `public` folder in example.

The doc says:

This means that you need to copy whole folder https://github.com/tradingview/charting_library/tree/master/charting_library to `public`, *not root of the repository*.

As result you need to get the following fs structure of the `public` folder:

[code]

[2018-07-27 09:47] #31 closed

[2018-07-27 09:49] timocov commented on #15
Please feel free to reopen it if needed.

[2018-07-27 09:49] #15 closed

[2018-07-27 18:05] paragsatpute commented on #5
If we get tick data from WebSockets then would it still require 1 minute bars data?

[2018-07-29 22:45] chovy opened #35 "Are the chart override options documented somewhere?"
Are the chart override options documented somewhere?

[2018-07-30 13:42] timocov commented on #35
Yes, in other repository.

https://github.com/tradingview/charting_library/wiki/Overrides

[2018-07-30 13:42] #35 closed

[2018-07-30 19:49] chovy commented on #35
I get a 404 there.

[2018-07-31 05:44] timocov commented on #35
If you get 404 then you need to request an access to this repository.

https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/

[2018-08-02 07:44] bs-ravikiran commented on #15
@timocov we are facing same issue in production mode

[2018-08-06 07:11] arpitprod opened #36 "React: Chart is not showing when coming back to chart page again"
I forked this repo and add one more page
https://github.com/arpitprod/charting-library-react

First open index page, Chart will show
then on Index page, click on 'AnotherPage' link and open another page
then click on 'GoToIndexPage' link and page will move to index page again

but chart will not show now

[2018-08-07 07:40] timocov commented on #15
@bs-ravikiran did you try to use another web server as @everget said in https://github.com/tradingview/charting-library-examples/issues/15#issuecomment-400257124?

[2018-08-07 07:48] bs-ravikiran commented on #15
Yes, we have tried on another server , it's throwing same error

[2018-08-07 07:53] timocov commented on #15
@bs-ravikiran could you please provide a step-by-step reproducing the problem (including starting custom web server, copying files from charting library, etc)?

[2018-08-07 08:04] bs-ravikiran commented on #15
1. Go to **react-javascript** folder
2. Install npm packages (npm install)
3. Copy  **charting_library** and **datafeeds** folders to **public** folder from **tradingview/charting_library**
4. Create production build for react (npm run build)
5. Serve build (serve -s build)
6. Go to browser and open url
7. Check console for error.

[2018-08-07 09:36] timocov commented on #36
Your repo is not fork 🙂

But anyway - see my fixes in #38. I hope it should help you.

Related to https://github.com/tradingview/charting_library/issues/3162

[2018-08-07 09:49] timocov commented on #15
@bs-ravikiran I confirm that bug is in `serve -s build` command. I just have tried run `python -m SimpleHTTPServer 9090` in `build` folder and it works fine!

[2018-08-07 09:50] timocov commented on #15
I do not know why, but `serve` just redirect request for `/charting_library/static/en-tv-chart.html` instead of serving this file from build folder.

[2018-08-07 09:52] timocov commented on #15
You even can try to do the following:
1. `cd build`
1. `serve` (without `-s build`)

And it works fine.

[2018-08-07 09:53] timocov commented on #15
Or even `serve build` works well.

[2018-08-07 11:13] arpitprod commented on #36
thanks, thats working now

in commit a5a5e3f, where you copied charting_library/ directory

When I copied charting_library/ directory in public/ directory then react shows this error message

and when I copied charting_library/ directory in src/ directory then react shows this error message

Failed to compile.

[2018-08-07 12:17] bs-ravikiran commented on #15
@timocov thanks. It's works for me.

[2018-08-08 09:01] timocov opened #41 "React: "There is no such iframe" error in componentWillUnmount"
Moved from https://github.com/tradingview/charting_library/issues/3161#issuecomment-411318478

/cc @dandv let's discuss here

[2018-08-08 09:08] timocov commented on #41
@dandv When I apply the patch below to the `react-javascript` folder and click on the `Toggle CL` button, it works fine, without errors:

[code]

[2018-08-11 02:33] noahjohn9259 commented on #18
having the same issue. are there anyone who solved this issue?

[2018-08-11 04:54] noahjohn9259 commented on #18
disabling service worker solves my issue

[2018-08-12 02:54] DamianRavi opened #42 "'define' is not defined - ReactJS"
I seem to get an issue using Truffle React-Box with charting_library/charting_library.min where I am given the error:

  1:107   error    'define' is not defined                                                                                     no-undef
  1:118   error    'define' is not defined                                                                                     no-undef

The line

[2018-08-12 03:13] DamianRavi commented on #42
Literally the next thing I tried fixed it: https://eslint.org/docs/rules/no-undef

At the top of charting_library.min adding:
/*global define:true*/
/*eslint no-undef: "error"*/

[2018-08-12 03:13] #42 closed

[2018-08-16 08:01] coinloop opened #43 "'define' is not defined no-undef"
I clone react-javascript demo,
then yarn install packages
and put charting_library file to destination dir
and yarn start
the browser and terminal output errors

[code]

[2018-08-16 09:10] timocov commented on #43
https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104

[2018-08-16 09:10] #43 closed

[2018-08-16 18:39] roktoshl opened #44 "iOS example"
- **Android**
- **iOS**

[2018-08-17 08:35] roktoshl opened #45 "Vanilla JS"
- **Vanilla JS with static HTML**

[2018-08-17 09:30] timocov commented on #45
What's about https://github.com/tradingview/charting_library/blob/master/index.html#L24-L45?

[2018-08-17 15:02] roktoshl commented on #44
## Android

1. Put the whole chart library (https://github.com/tradingview/charting_library) into src/main/assets
2. Create a webview in your main layout
3. Load the chart into the layout

[code]

[2018-08-20 20:17] jbetancourt8 commented on #44
How would you implement TradingView charts using React Native?

[2018-08-20 20:54] roktoshl commented on #44
Perhaps you can try the same way as with a native Android app, to load it as a local file. Check out this tutorial on how  to load a local html content into a WebView:
* https://medium.com/@snehabagri.90/reactnative-webview-with-local-content-c98a09340801

[2018-08-22 08:45] Ganuka opened #46 "Hello! Need help with chart settings"
1. How to get the js values of high, low, close, volume with the help of your api to the bar graphics on which the cursor is hovered http://prntscr.com/kl5422?
2. How to display the month and date on the timeline of the chart https://prnt.sc/k4djkk?

[2018-08-22 08:58] ezhukovskiy commented on #46
This repo is about examples of integration of the charting library.

Issues about charting library should be here https://github.com/tradingview/charting_library.

[2018-08-22 08:58] #46 closed

[2018-08-22 09:02] Ganuka commented on #46
Page not found 404

[2018-08-22 09:38] ezhukovskiy commented on #46
Where did you get the Charting Library package?

[2018-08-23 02:59] dittops opened #48 "Need an example for Angular 5 JS API implementation."
- **Framework/library:** Angular 5

[2018-08-23 04:14] liutaihua commented on #18
@noahjohn9259  help, which option use to "disabling service worker" ?

[2018-08-23 19:37] amanshu-kataria commented on #15
@timocov works fine without `-s`. Also if you test the build in localhost the problem exists but works fine on network.

[2018-08-24 13:13] timocov commented on #44
Android example is in master (https://github.com/tradingview/charting-library-examples/tree/master/android). Thanks @roktoshl.

[2018-08-24 15:15] everget commented on #48
@dittops
https://github.com/tradingview/charting-library-examples/tree/master/angular5 ?
What do you need ? An Angular5 example without TypeScript ?

[2018-08-24 21:52] rhrahul commented on #18
@noahjohn9259 , how did you solve issue ?
Please help :)

[2018-08-25 13:55] dittops commented on #48
@alex need a sample of JS api for live streaming of data with sockets in
typescript way. I couldn’t find a sample for that.

On Fri, 24 Aug 2018 at 8:45 PM, Alex Orekhov <notifications@github.com>
wrote:

--
*DITTO P S*
COO  Accubits Technologies Inc

*m: *+91 8089892442 *a:* 5th Floor, Yamuna Building, Phase III, Technopark
*w:* www.accubits.com *e:* dittops@accubits.com *s:* dittops

-----------

[2018-08-26 03:23] CILP opened #49 "Babel needed"
**Checklist**
- [x] This issue is **NOT** related to the charting library itself

I was stucked trying to implement the example with same files with a new generated vue-cli project, and I noticed and it's very important to mention that we need `babel-core` and `babel-loader`, I think this can will be useful for other people.

[2018-08-27 09:02] timocov opened #50 "Add destroying to vue.js and angular5 examples"

[2018-08-27 09:08] timocov commented on #50
Should be fixed after https://github.com/tradingview/charting_library/issues/3297.

[2018-08-27 10:34] NeWay2002 opened #54 "failed compile"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

Sorry for english. I got the library from the official site. And I wanted to run an assembly example from this repository. But this causes an error.
The first thing the debugger shows is on "line1: define is not define". Then I tried to fix it but without success. I just ran the assembly withou

[2018-08-27 10:41] timocov commented on #54
Did you try to find the similar issues?

What example do you use? React?

[2018-08-27 10:47] timocov commented on #41
Related issue #50

[2018-08-27 10:50] #54 closed

[2018-08-27 10:57] NeWay2002 commented on #54
Thanks for the quick answer
of course, I spent a few days reading and trying out different options. I'm new to the graphics library.
as an example I added a babel, edit code. Yes, I use the example with react-javascript

![image](https://user-images.githubusercontent.com/25829053/44656286-fc097400-aa00-11e8-92e1-4620618c2312.png)

npm 6.3.0

[2018-08-27 10:58] timocov commented on #49
What do you mean? Can you please add more info what you did and what didn't work?

[2018-08-27 10:59] NeWay2002 commented on #54
maybe you downloaded the example with react and you all works well?

[2018-08-27 11:08] timocov commented on #54
Yes, it works well.

Can you please tell me where did you get the charting library?

[2018-08-27 13:36] NeWay2002 commented on #54
![image](https://user-images.githubusercontent.com/25829053/44662690-2cf4a380-aa17-11e8-9e48-696ceff8617a.png)

Здесь, на сайте делал запрос. Так значит проблема в файле?

[2018-08-27 13:53] NeWay2002 commented on #54
А вы можете дать свой вариант библиотеки?

[2018-08-27 13:53] timocov commented on #54
Please use English. With what username you request access?

[2018-08-27 14:19] NeWay2002 commented on #54
webdevepru
this is github username

[2018-08-27 14:33] NeWay2002 commented on #54
Sorry for taking your time and thanks.
it seems I have found a solution

[2018-08-27 22:20] CILP commented on #49
I generated a new vue-cli project `3.0.1` and when I tried to replicate the tradingview demo for vuejs I got some webpack errors, and I found that in the tradingview demo for vuejs the package.json contains those babel dependencies, the new cli project doesn't had `babel-core` nor `babel-loader`, So, I installed `babel-core` and `babel-loader` and the project run successfully .

[2018-08-28 07:04] #49 closed

[2018-08-30 15:06] jonlorusso commented on #18
@rhrahul Return from this function: https://github.com/facebook/create-react-app/blob/26f701fd60cece427d0e6c5a0ae98a5c79993640/packages/react-scripts/template/src/serviceWorker.js#L22

[2018-08-30 15:54] zhangjianlin77 commented on #44
Do you have the native lib of android or ios,  not js files.   How can i implemente the tradingview like binance  app??

[2018-08-30 20:52] timocov commented on #44
No, we haven't such lib.

[2018-09-01 05:48] zxmzhyzkp opened #55 "javascript example can not run"
Failed to compile
./src/charting_library/charting_library.min.js
  Line 1:  'define' is not defined  no-undef
  Line 1:  'define' is not defined  no-undef

Search for the keywords to learn more about each error.
This error occurred during the build time and cannot be dismissed.

[2018-09-01 06:47] timocov commented on #55
https://github.com/tradingview/charting-library-examples/blob/master/CONTRIBUTING.md#creating-new-issue

[2018-09-01 06:47] #55 closed

[2018-09-03 13:54] magzak commented on #54
I have the same problem, what solution did you find?

I just cloned the repos and followed the instructions for react-javascript and get the following error after npm start:

Failed to compile.

./src/charting_library/charting_library.min.js
  Line 1:  'define' is not defined  no-undef
  Line 1:  'define' is not defined  no-undef

[2018-09-03 14:05] magzak commented on #54
@NeWay2002 Can you please let me know how you solved this?

[2018-09-13 10:00] MettaProgrammer opened #56 "Library does not work in React javascript production build."
To reproduce simply npm run build and then serve the build.

iFrame just creates a copy of the page, error in the console is:
`Uncaught TypeError: r.contentWindow.widgetReady is not a function at HTMLIFrameElement.t`

Also have the same problem outside of this example with chart implemented in my own app, runs fine in dev mode, fails in production.

[2018-09-13 10:05] timocov commented on #56
Do you have the latest version of react example?

[2018-09-13 10:06] timocov commented on #56
Did you see #18 and #15?

[2018-09-13 10:14] MettaProgrammer commented on #56
I did, apologies.

[2018-09-13 10:14] #56 closed

[2018-09-14 05:05] ianeinser commented on #44
@roktoshl @timocov how can i integrate reactjs to this android example? reactjs has two directories namely public and src. I want to integrate the files in src in android webview. Thanks

[2018-09-14 08:10] ianeinser commented on #44
Can you be more specific. There is a reactjs example in this repo. can you show how?

[2018-09-14 08:12] roktoshl commented on #44
@ianeinser Can you check this tutorial https://medium.com/@snehabagri.90/reactnative-webview-with-local-content-c98a09340801, specifically placing the assets in the correct subfolder:
* Android: <react-native-project>/android/app/src/main/assets/
* iOS: <react-native-project>/ios/<new group as folder>/ (Note: “New group as folder” will ensure all its contents are bundled into the IPA file.)

[2018-09-14 11:19] ianeinser commented on #44
Okay.. I am trying it out.. i have three questions.. under reactjs scenario
1. which folder will be placed in /android/app/src/main/assets? the public or the src directory? the src directory does not contain any index.html
2. in the tutorial, two java files are used, but in the android example in this repo, two kotlin files are used.. which ones should i use? the java or the kotlin ones?
3. regard

[2018-09-24 06:56] hungnm10 opened #57 "Vuejs: export 'widget' was not found in './charting_library.min'"
I create vuejs app using
<code> vue init webpack my-project </code>
Then import charting-library but when I compiled, it got an error in TVChartContainer.vue file
"export 'widget' was not found in './charting_library.min'
Please check this issue. Thank you!

[2018-09-24 07:45] timocov commented on #57
Did you see our example https://github.com/tradingview/charting-library-examples/tree/master/vuejs?

[2018-09-24 07:50] hungnm10 commented on #57
Yes, I checked this example but I got the issue when I using vue-cli to create application as I mentioned above.

[2018-09-24 08:51] timocov commented on #57
No, it support any language you want to use.

Please check the structure of the folders. I believe that the reason of your error is there.

[2018-09-24 08:52] timocov commented on #57
Did you have access to https://github.com/tradingview/charting_library repo?

[2018-09-24 08:53] hungnm10 commented on #57
Yes, I did it follow your instruction

[2018-09-27 21:56] CILP commented on #57
Hi @hungnm10 I was experimenting the same problem, I was using Vue CLI v3 and this works for me, #49

[2018-09-27 22:01] hungnm10 commented on #57
Thanks @CILP . I have solved it by other way like below
<code>const tvWidget = new window.TradingView.widget(widgetOptions);</code>

[2018-09-27 22:01] #57 closed

[2018-10-18 06:34] sidsverma commented on #57
I am still facing this issue.
@CILP can't fix it even after installing babel-core and babel-loader.
@hungnm10 changing that line to the one mentioned by you also does not fix that issue.

[2018-10-20 02:31] maksle opened #59 "Error running the react-javascripts example"
**Checklist**

- [ x] This issue is **NOT** related to the charting library itself

**Describe the bug**

Followed the instructions to install and run the react-javascript example. Upon loading the page, react displays an error message:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1) Install dependencies npm install.
2) Copy charting_library folder from https://github.com/tradingvi

[2018-10-22 13:21] tongyantee commented on #56
I am also facing similar issue with the following error "TypeError: i.contentWindow.widgetReady is not a function" and i am not using React or IHTML. I am using Laravel with a common blade layout inherited by the blade.php that  is supposed to display TradingView.

[2018-10-24 09:20] v4n8877 opened #60 "./src/charting_library/charting_library.min.js no-unused-expressions with react-javascript"
Sorry, my english is bad,
I try with example but i got an issue when import {widget} from '../../../../../charting_library/charting_library.min'.
![error](https://user-images.githubusercontent.com/16847705/47420463-b111a000-d7a8-11e8-94de-8d1104a85dd5.png).
How can i fix an issue
thanks

[2018-10-24 11:14] machy44 commented on #60
I have the same issue.

[2018-10-24 11:38] kirchet commented on #60
Try to do what is described [here ](https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104)

[2018-10-26 15:34] machy44 commented on #60
Thanks. I found tutorial [https://medium.com/@jonchurch/tradingview-charting-library-js-api-setup-for-crypto-part-1-57e37f5b3d5a](tradingview-charting-library-js-api-setup-for-crypto) He creates the trading view chart as a global variable [https://github.com/jonchurch/tradingview-js-api-tutorial/blob/master/part1/src/components/TVChartContainer/index.jsx](here)

[2018-10-29 01:51] Joursion opened #61 "tvChart component (_onWindowResize) is still in Memory"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**
I use this examples in my project with React.js .
I write TVChartComponent in page A, and other page B.
when i switch frequently between A and B, i found the memory growth. (picture blow)
In TVChartComponent, i do the `unmount `:
[code]

**To Reproduce**

**Expected behavior**

**Screenshots**
!

[2018-10-29 03:51] #61 closed

[2018-10-29 10:46] #60 closed

[2018-11-07 11:54] kenneth opened #64 "React TradingView deploy to production can't work"
`
TypeError: i.contentWindow.widgetReady is not a function. (In 'i.contentWindow.widgetReady(function(){t._ready=!0;for(var e=0,o=t._readyHandlers;e<o.length;e++){o[e].call(t)}i.contentWindow.initializationFinished()})', 'i.contentWindow.widgetReady' is undefined)
`

[2018-11-07 12:07] timocov commented on #64
Did you search the similar issues before create this issue?

[2018-11-07 12:08] #44 closed

[2018-11-07 12:10] timocov commented on #64
Duplicate of #15

[2018-11-07 12:10] #64 closed

[2018-11-15 22:14] clickbrain opened #65 "Where are the charting library docs?"
Sorry to bother in this area, but trying to find the documentation for the charting library and this is the only place in Github. Links on this page to Github docs are broken - https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library

**Describe the bug**

Getting 404s in Github for all the charting library docs linked on this page:
https://www.tradingview.com/HTML5-stock-forex-bitco

[2018-11-16 06:56] ezhukovskiy commented on #65
You should sign the agreement first. Then you'll get access to the docs and the code.

[2018-11-16 06:56] #65 closed

[2018-11-16 06:56] ezhukovskiy commented on #65
Click "download" - https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library

[2018-11-16 15:13] clickbrain commented on #65
Ahh, thanks. Maybe put a note on that page so others will understand.

[2018-11-17 14:55] coreycaplan3 opened #67 "Missing API key for React JS production builds"
Is there an API key needed to run the chart in production? It seems to fail to load at runtime and complains about missing a key. I'm not sure where to get it though.

I'm happy to provide more information but I'm not sure what's most useful for the team to diagnose it.

[2018-11-19 12:58] timocov commented on #67
I believe this issue should be opened here, not in charting library repo.

[2018-11-19 13:00] timocov commented on #67
What do you mean?

Where do you get this errors? You can check https://charting-library.tradingview.com - we don't use any API key there.

[2018-11-19 21:02] coreycaplan3 commented on #67
I'll close the issue for now. Seems like our frontend developer misunderstood the error he was getting.

[2018-11-19 21:02] #67 closed

[2018-11-22 10:23] zhangyu0218 opened #68 "There is no such iframe"
This error occurs when I switch pages.“There is no such iframe”

[2018-11-22 10:47] timocov commented on #68
What example you use? It looks similar to #50

[2018-11-23 09:01] developerswebb opened #69 "is it possible do adapt chart for 320px width for mobile devices?"
is it possible do adapt chart for 320px width for mobile devices?

[2018-11-28 20:11] CILP opened #70 "Change ticker selection using a custom component"
- **Framework/library:** VueJS
- **Link to page with the framework/library:** https://vuejs.org/

Hi, I have a component in VueJS that contains the next data:

<img width="372" alt="screen shot 2018-11-28 at 14 06 31" src="https://user-images.githubusercontent.com/12419364/49179007-f4ff4400-f316-11e8-817e-417fe3c1e823.png">

So, If I select one of those tickers I want Trading view catch that ticke

[2018-12-10 07:11] #50 closed

[2018-12-18 09:21] aaron13347815 commented on #57
I am still facing this issue.
@CILP can't fix it even after installing babel-core and babel-loader.
@hungnm10 changing that line to the one mentioned by you also does not fix that issue.

[2018-12-18 09:23] aaron13347815 commented on #57
warning  in ./src/components/TVChartContainer.vue?vue&type=script&lang=js&
"export 'widget' was not found in '../charting_library.min'

[2018-12-24 06:38] envyTang commented on #57
*index.html*
[code]
*components*
[code]

[2018-12-26 10:05] fxpertus opened #72 "TradingView :Not able to call JS api in angular"
I am trying to call JS api of charting library in my angular code but when I try to debug, it is not even calling the api functions. So can I get a hint on that why it not calling my api.

#Angular

[2018-12-26 11:32] kirchet commented on #72
Did you follow [the instructions](https://github.com/tradingview/charting-library-examples/blob/master/angular5/README.md#how-to-start)? Are there any errors in the browser console?

[2018-12-26 12:18] bahrikarakoyun opened #73 "'UDFCompatibleDatafeed' undefined error"
I get 'UDFCompatibleDatafeed' undefined error Angular Version 7

[2018-12-26 12:18] fxpertus commented on #72
Not showing any errors but Invalid Symbol on Chart and while debugging, failed to call onChartReady function.

[2018-12-26 12:19] bahrikarakoyun commented on #73
TradeComponent.html:8 ERROR TypeError: Cannot read property 'UDFCompatibleDatafeed' of undefined i get this error. Version Angular 7

[2018-12-26 13:17] kirchet commented on #72
Can you provide a link to your chart?

[2018-12-26 14:04] bahrikarakoyun commented on #73
I solved to problem.

src/app/tv-chart-container/tv-chart-container.ts files gives error:

`datafeed: new (window as any).Datafeeds.UDFCompatibleDatafeed(this._datafeedUrl),`

Need to change like this:

`            datafeed: new UDFCompatibleDatafeed(this._datafeedUrl),
`

[2018-12-27 05:44] fxpertus commented on #72
datafeed: new (window as any).Datafeeds.UDFCompatibleDatafeed(UDFCompatibleDatafeed)

![1](https://user-images.githubusercontent.com/45934346/50467358-95a15c00-09c8-11e9-902e-b80d1a3b5329.png)

![2](https://user-images.githubusercontent.com/45934346/50467359-95a15c00-09c8-11e9-854d-613aad1511a0.png)

[2018-12-27 07:39] #73 closed

[2018-12-27 08:39] pumano opened #74 "Update Angular from 5 to 7"
**Checklist**

- [x] This issue is **NOT** related to the charting library itself

**Expected behavior**

I use Trading View with angular 6 and 7 (latest) it works as expected, you can update dependencies and provide more recent version of angular in example

[2018-12-27 08:42] timocov commented on #74
Does it work without any changes, just upgrading version? If so, feel free to make PR with updating (but please make sure that folder has correct name).

[2019-01-02 03:42] Mike-Jia opened #75 "can not work with angular route"
- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

charting_library works fine with angular, but after I add angular route, it can not work.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Create routing module, and apply it in app.component.html
3. Open in browser
4. See error

**Expected behavior**

trading view works well.

**Scree

[2019-01-02 09:03] Mike-Jia commented on #75
My mistake, there is no 'zh-CN' LanguageCode. After change it to 'zh' it works well.

[2019-01-02 09:03] #75 closed

[2019-01-03 01:12] phuthanh19951 commented on #15
When i run serve (without -s) command, Routing client has a problem. It shows "the requested path route could be not found". Anyone has the same issue ?

[2019-01-07 09:32] fxpertus opened #76 "Real Time Data Feed for Trading View"
What would be the real time data feed for Charting library to integrate in trading view chart in my website  mainly for Forex currencies?
#Angular

[2019-01-10 13:03] kirchet commented on #72
`public constructor(datafeedURL: string, updateFrequency: number = 10 * 1000)`
The first parameter should be a URL string to your server

[2019-01-10 17:15] timocov commented on #72
@fxpertus all issues around JS API/UDF datafeed/charting library should be in charting_library's repo.

[2019-01-15 09:00] awesner opened #77 "Node.js + Nuxt.js contentWindow.widgetReady is not a function"
Node.js + Nuxt.js

I added 'charting_library.min.js' file to the 'static' folder in my nuxt.js folder and connect this file inside my nuxt.config.js file like this:
head: {
script: [
      {
        src: '/js/charting-library.min.js',
      }
  ]
}
After that I downloaded TVContainer.vue example component from you github and added it to my project. But when I run the page I get this error: "Uncaug

[2019-01-15 11:09] timocov commented on #77
We don't have example with nuxt.js. Where did you get it?

[2019-01-15 11:21] awesner commented on #77
Hi Evgeniy,

we used this sample  https://github.com/tradingview/charting-library-examples/tree/master/vuejs and added in vue+nuxt client.

Uncaught TypeError: i.contentWindow.widgetReady is not a function at HTMLIFrameElement.n (charting-library.min.js
Start: Frontend_Node+nuxt_with_tradingview_in_trading_page_issue
Npm run dev  User: root PW: 1234

Thx,
 Skype: alexander_wesner
 Issue
I added 'c

[2019-01-15 12:02] timocov commented on #77
We aren't familiar with this framework and unfortunately cannot help you. But if you figure out what's going on - please write a comment how did you solve it. It might help someone who faces the same problem.

[2019-01-15 12:05] awesner commented on #77
Hi,

I thing that is not a Framework Problem, maybe the Libery is in ES6 compiled.

Do you know if exist tradingview Libery in ES6?

Thx,
Alexander

Von: Evgeniy Timokhov <notifications@github.com>
Gesendet: Dienstag, 15. Januar 2019 13:03
An: tradingview/charting-library-examples <charting-library-examples@noreply.github.com>
Cc: awesner <alexander.wesner@outlook.com>; Author <author@noreply.gith

[2019-01-17 18:31] Vivek205 opened #78 "Property 'species' does not exist on type 'SymbolConstructor'"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

Err occured while trying to run the reactjs-javascript example

**To Reproduce**

react-javascript example
1. npm run eject
2. remove ModuleScopePlugin from webpack config
3. npm install @types/jquery -D
4. npm start

**Expected behavior**

 To integrate the cchart and make it work

**Screensho

[2019-01-18 07:57] timocov commented on #78
How TypeScript's code related to javascript example? It looks like problem of configuring your project. But you can try to fix your tsconfig file (add `es2015.symbol.wellknown` lib).

[2019-01-18 15:43] Vivek205 commented on #78
**Long Story Short**:
The error started occuring when I updated the react-scripts to the latest 2.x.x version.
It lead to too many errors. I tried a lot of fixes including `es2015.symbol.wellknown` . Still same error persists.

Now I started with a  fresh clone.

1. Moved the charting_library folder inside src.
2. I got the err
[code]
I followed the steps in [#36]( https://github.com/tradingview/c

[2019-01-18 15:55] timocov commented on #78
But the errors are in `charting_library.min.js` (js, not d.ts).

[2019-01-22 10:22] Vivek205 commented on #78
Yeah previously it was with d.ts. But now I started with fresh clone. Executed the steps as in [the previous comment](https://github.com/tradingview/charting-library-examples/issues/78#issuecomment-455589595).

[2019-01-23 13:07] MikeHibbert opened #79 "ReactJs × TypeError: i.contentWindow.widgetReady is not a function"
**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to 'react-javascript' folder
3. Copy charting_library to the 'src' folder
4. Copy datafeeds to the public folder
5. Run command 'yarn start' or 'npm start'
6. See error 'undefined define' error
7. Add the following to the top of charting_library.min.js:
   /*global define:true*/
  /*eslint no-undef: "error"*/
  /* eslint-di

[2019-01-23 16:11] kirchet commented on #79
Duplicate of #15

[2019-01-23 16:11] #79 closed

[2019-01-24 09:55] timocov commented on #78
You need to insert `/* eslint-disable */` is js file.

[2019-01-25 05:58] FF-ru opened #80 "vue + Nuxtjs2 Cant import charting_library.min"
trying to include charting_library

`let { widget } = require('~/assets/js/charting_library.min')`

it throws: Uncaught TypeError: Cannot read property 'TradingView' of undefined

![screenshot 2019-01-25 at 12 55 03](https://user-images.githubusercontent.com/42265704/51727936-da401600-20a0-11e9-9b45-77f1ca410aca.png)

[2019-01-28 12:14] timocov commented on #80
What bundler you use? It looks it doesn't support UMD modules.

[2019-01-29 09:45] FF-ru commented on #80
nuxt2 exists webpack4
it worked fine with webpack3 on nuxtjs

[2019-01-29 09:45] FF-ru commented on #80
nuxt2 exists webpack4
it worked fine with webpack3 on nuxtjs

[2019-01-30 07:59] zhangyu0218 opened #81 "Is there an tradingview example of flutter?"
Is there an tradingview example of flutter?

[2019-01-30 14:14] FF-ru commented on #80
just tried to assemble with clean webpack4.26.1 without vuejs and nuxtjs then it works.  I have no idea

[2019-01-30 16:11] timocov commented on #81
What is flutter?

[2019-01-30 20:23] kirchet commented on #81
No, we don't have such example

[2019-01-31 11:52] mogenshoj commented on #15
Some insights for anyone having this issue.

There can be a number of causes for this depending on your build project, but the problems comes from the iframe not loading the correct html file. The `widgetReady` function is defined in the iframe, if the iframe loads a 404 this error will show up.

Would be nice to have something like:
[code]
It would limit the number of support requests and make th

[2019-02-01 06:00] neuralBC-M opened #82 "how to react example ??"
Hi. I'm trying to use [React]. You are viewing and applying the Example code within the page. I followed [README.md] in order, but I still get the error 'defined' is defined. Can you tell the exact method and sequence?

I apologize for the inconvenience that the question has been turned into Google Translator.

[2019-02-01 12:19] timocov commented on #81
Feel free to make a PR with such example!

[2019-02-04 07:32] rainrain002 commented on #77
I have same problem. please share if you already fixed it.

[2019-02-05 12:31] timocov commented on #82
Duplicate of #43

[2019-02-05 12:41] timocov commented on #77
Guys, can you at least share the code (please be sure that the library's code is not public accessible in your code/example) and steps to achieve that error? I'm sure that the problem is in the configuration, not in the library itself.

[2019-02-05 17:51] neuralBC-M opened #83 "how to interval option change ?"
I plugged the library into [react] as I told you. However, the default interval options are [1day, 2day, 3day, 1week, 3week, 3weekks, 1month, 6months]. I'm trying to change this option, but I don't know what to do if I look at api and look for issues. Is there any way? Below is the re-exchange code.

`static defaultProps = {
    symbol: 'AAPL',
    supported_resolutions: [ '15', '30', '60', '120',

[2019-02-06 07:42] timocov commented on #83
Let's continue in https://github.com/tradingview/charting_library/issues/3751

[2019-02-06 07:42] #83 closed

[2019-02-06 12:12] kenneth opened #84 "How can use this library don't need react or vue?"
I want use tradingview but don't use react or vue,just use javascript

[code]

charing_library.min.js第208:87行

[code]

config library_path, now everything is ok

[2019-02-06 13:03] #84 closed

[2019-02-07 08:42] rainrain001 commented on #77
Hi. i also encounter this problem. i tried to change the code just like this
from -> `i.contentWindow.widgetReady( function() ....` to -> `i.contentWindow.widgetReady = function()` and it works. but when i tried to put back the original code the error will fix already. i don't know why. but it works for me.

[2019-02-12 09:11] timocov commented on #77
This is incorrect code. The original code calls a function inside iframe, but you just override it.

The error `contentWindow.widgetReady is not a function` might be happened if inner iframe does not load properly (404, invalid url or so on). Please check it.

[2019-02-13 10:45] poruchik85 commented on #77
Hi, guys.

I spent a couple of days connecting the library to the nuxt, and this is how I did it:

As said **awesner**, in `nuxt.config.js` insert into the `head` section
[code]

datafeeds are needed only for testing, after implementing your own datafeeds, you can remove them from here.

Then I connected the TVContainer.vue component from the example as a plugin:

`client/plugins/trading-view.js:`

[2019-02-18 13:45] Etienneelef opened #85 "where to put charting_library and datafeeds folders in django"
Hi,

I have a django app and i don't really know where to put these files in my app.
Currently it is in project/app/static/js.

But i have a 404 when i start the python server:
`GET http://localhost:8000/assets/charting_library/static/en-tv-chart.aa0061904b783ada8056.html 404 (Not Found)`

The thing is, i don't have any assets folder so i don't understand why it looks for the file there.

[2019-02-26 12:39] timocov commented on #85
Hi,

can you provide more information for your problem? It would be great if you provide minimal example of repro (please make sure that that example **doesn't** have charting library's code).

[2019-02-26 15:01] Etienneelef commented on #85
I can provide the structure of my django project :

[code]
I can also provide my `settings.py` :

[code]

I hope it's enough :)

[2019-02-27 22:12] Cryptoforecast opened #86 "WEBPACK error with tradingview"
Hi!
i was trying to use the libary with React + react-scripts. Here is my code

[code]

i added the `charting_library` under SRC and added `/* eslint-disable */` to charting_library.min.js but react gives me this error:
[code]

It seens that widget is null....

Any idea?

[2019-03-01 15:55] amargautam opened #87 "Question regarding react app setup"
I have some questions regarding react example.

1. I notice that you copied the charting_library folder in both public and src, may I know the reason for that?

2. If we are not using create-react-app, how do you suggest we bundle the library?

3. What does the `libraryPath` in `defaultProps` actually do?

[2019-03-04 09:03] timocov commented on #87
Hi,

1. @everget can you please take a look?
1. In this case you need to bundle in your app only `charting_library.min.js` module, other files should be served as static files.
1. @everget

[2019-03-04 09:36] timocov commented on #86
Hey,

what version of charting library you have?

[2019-03-04 10:21] everget commented on #87
@amargautam Hi,
1. This is due to the specifics of the `create-react-app` starter kit
3. Using `libraryPath` you can specify the path to the folder that contains Charting Library and its static assets

[2019-03-04 15:40] amargautam commented on #87
Thank you. We solved this problem. We don't use creat react app so was kind of confused.

[2019-03-05 10:11] timocov commented on #87
@amargautam so, can we close this issue for now?

[2019-03-05 10:55] Cryptoforecast commented on #86
the lastest one, i downloaded it a couple of days ago

[2019-03-07 11:39] Etienneelef commented on #85
Hello,

Can you provide an answer?

[2019-03-11 08:46] #87 closed

[2019-03-11 08:47] timocov commented on #86
Can you please provide exact version you have?

[2019-03-11 08:53] timocov commented on #85
Can you run this code without looking at code of your application? I don't think so, because the structure you provided contains a lot of other files which you don't provide.

Please provide a minimal self-contained repro code/repo (without your specifics or code) which I can just run and start investigate your problem.

[2019-03-11 13:30] Cryptoforecast commented on #86
It is the 	VERSION 1.13 @ 2018-08-24

[2019-03-11 13:35] timocov commented on #86
This is strange, because there is such export (for your version) and everything should work.

[2019-03-12 19:12] Thedabest commented on #80
same with vuejs .-.

[2019-03-13 07:18] kanpou0108 commented on #42
I experienced the same issue.
Adding the line below to the top of `react-javascript/src/charting_library/charting_library.min.js` works fine for me.

[code]

[2019-03-17 20:50] Etienneelef commented on #85
The thing is, i think this is all you need. My other files have nothing to do with TV and don't interact with it. I've made some changes in my app structure like so:

[code]

I can also give you the content of `tv-charts-widget-init.js` :

[code]

I think the error is coming from something related to the `library_path`. It basically says that it can't find the files. But it's there...

I also prov

[2019-03-18 22:00] Cryptoforecast commented on #86
[my-app.zip](https://github.com/tradingview/charting-library-examples/files/2980591/my-app.zip)
I made a SSCC example, could you help me?

[2019-03-20 16:07] timocov commented on #86
@Cryptoforecast first of all please be careful in the next time with publishing the library in the public (your example contained the library's code).

According your example.

I download it, extract, run `yarn`, run `yarn add react-app-rewired` (it looks like there is no `react-app-rewired` in the deps list), then run `yarn start`. After that I got an error with `TypeError: window.Datafeeds is un

[2019-03-20 16:15] Lory1990 commented on #86
Thank you @timocov, i am really sorry for my mistake. My bad!

[2019-03-21 15:52] Etienneelef commented on #85
I'm using CloudFront (and S3 bucket) to serve static folders.
Here is an example of path:

`<img src="{% static '/images/pictos/btc-5.png' %}" alt="">`

That's why `library_path: '/js/charting_library/',` should actually be working.

[2019-03-22 13:32] makedonsky94 opened #89 "React-native example"
- **Framework/library: React-native**
- **Link to page with the framework/library: https://github.com/facebook/react-native**

[2019-03-25 14:50] timocov commented on #85
Sorry, but without a repo (not examples of your code, part of configs or so on) with reproducing the problem I'm not able to help you.

[2019-03-26 13:53] Etienneelef commented on #85
I can grant you access to the repo if it's suitable for you

[2019-03-29 14:49] timocov commented on #85
I believe it's unnecessary due security issues (for both sides). Can you just cleanup your repo from your specific code and provide it?

From what path you serve your static folder?

Does it mean that your static files are served from `/static/` path? If so, I believe that `library_path` should be `library_path: '/static/js/charting_library/',`.

[2019-04-01 09:04] wangshuang0 commented on #43
I have the same problem. How to solve？

[2019-04-03 09:48] pengzhaowen opened #91 "Is there any android or Java exmaple? send data to JS"
- **Framework/library:**
- **Link to page with the framework/library:**

[2019-04-03 11:08] Etienneelef commented on #85
What do you mean by specific code?

I've already tried this path and it didn't work unfortunately

[2019-04-03 12:36] kirchet commented on #91
https://github.com/tradingview/charting-library-examples/tree/master/android - android example

[2019-04-04 14:49] timocov commented on #85
What you can't share by NDA for example.

[2019-04-08 04:31] nicqchen commented on #18
how to disable it ?

[2019-04-08 06:06] noahjohn9259 commented on #18
@nicqchen I am using React on my application. Kindly check if your application is using service worker.

[2019-04-09 08:21] Etienneelef commented on #85
Actually, everything you need is in the previous posts. The code has already been cleaned up from specific code. In `settings.py` all you would need to check are the AWS related settings. Because i'm uploading statics to S3 and CloudFront so maybe it has an effect on TradingView.

[2019-04-09 18:44] BStephenBB commented on #36
It would be really helpful if this ESlint tip was in the readme; I had the same issue with getting the example project to work; if you follow the instructions as is I believe this error will always occur. I can make a PR if that would help.

[2019-04-10 03:24] dinhtu0802 commented on #89
Hi. How to import trandingview to react-native?
Can you help me?

[2019-04-10 16:00] timocov commented on #85
You've provide a list of files, but provide content for only one file.

Again, @Etienneelef , please provide a small example (git repo/gist would be awesome) and steps how we can reproduce your problem (step-by-step: install this stuff, cd to this folder, copy that stuff and so on). Please pay attention that we don't familiar with your stack and can don't know some thing you use everyday. Without

[2019-04-10 16:08] timocov commented on #36
👍 feel free to make it.

[2019-04-12 08:09] fintegri commented on #43
Hi,

I too have same problem please help to implement that

[2019-04-12 10:20] fintegri opened #92 "Cannot read property 'UDFCompatibleDatafeed' of undefined in react-javascript"
Cannot read property 'UDFCompatibleDatafeed' of undefined

error throw after run react project.please help me what should I do .

[2019-04-12 16:03] timocov commented on #92
Let's start from what did you do already?

[2019-04-14 09:10] SavosRU opened #93 "Charting-Library Example (react-javascript) - Failed to Compile Error!"
Hi!
I try to run example with React-Javascript code.
And sure I read "how-to" ;-)

Command **"npm install"** was complete successfully.
All need folders from charting-library was copied into "public" and "src" etc.

But when I make **"npm start"** - I've got errors in the terminal and in the browser:
[code]
What I can to do with this situation???
Or what I MUST to do???

![image](https://user-imag

[2019-04-14 10:20] SavosRU commented on #43
I have same error too...
But no found any answers to this issue - only duplicate questions from developers like we all

[2019-04-14 10:23] SavosRU commented on #54
@NeWay2002 Can you please let ME TOO know how you solved this?

[2019-04-15 10:06] iamkhan21 commented on #93
Same story, man

[2019-04-15 14:12] Etienneelef commented on #85
Hi,

First of all, i've looked into the Rails example as it is the only one example who comes close to Django.

Here is the entire project structure (so you can understand the following):
[code]

From your charting_library repository on github, i grabbed `charting_library` and `datafeeds` folders and put them in my django app at:
[code]

Then, in the Rails example at app/assets/javascripts i grabb

[2019-04-15 16:31] mahapo commented on #80
@FF-ru adding `modules: 'commonjs'` to the build.babel.presets fix this issue

For example:

`babel: {
    plugins: ['@babel/plugin-transform-runtime'],
    presets({ isServer }) {
      return [
        [
          require.resolve('@nuxt/babel-preset-app'),
          // require.resolve('@nuxt/babel-preset-app-edge'), // For nuxt-edge users
          {
            targets: isServer ? { node: '10'

[2019-04-15 16:37] mahapo commented on #80
For vue this should work:

[code]

[2019-04-16 00:58] dinhtu0802 opened #94 "Tradingview how to import react native?"
- **Framework/library:**
Tradingview can import react native?
If can please help me!!!

[2019-04-16 07:33] timocov commented on #36
https://github.com/facebook/create-react-app/issues/2339

[2019-04-16 07:33] timocov commented on #43
https://github.com/tradingview/charting-library-examples/issues/43#issuecomment-413478478

[2019-04-16 07:36] timocov commented on #93
https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104

[2019-04-16 07:36] #93 closed

[2019-04-17 12:35] muazcoban opened #95 "Price decimal digits"
Hi,
How can I set 4 digits for decimal part?
![digit](https://user-images.githubusercontent.com/34477839/56287985-728cea80-6126-11e9-9a3b-41fc5566f89c.png)

[2019-04-17 16:16] ezhukovskiy commented on #94
yes, we are going to publish an example soon

[2019-04-17 16:21] kirchet commented on #95
You should change `pricescale` in [symbol info](https://github.com/tradingview/charting_library/wiki/Symbology#minmov-pricescale-minmove2-fractional)
`pricescale = 10 ^ number of decimal places`

[2019-04-17 17:44] 93Kamuran opened #96 "firt time render angular 7"
Hi,
I'm working on implement tradingview charts on my project. (angular 7) I followed steps and everything has gone well. Then I realized that if I stopped the serving project from Localhost and serve again my chart component closes and throw me to the login page. I think is a cause of rendering because If ı change chart component with another component in routing module and when the project runni

[2019-04-18 15:10] elukonina commented on #96
Duplicate of #https://github.com/tradingview/charting_library/issues/3932

[2019-04-20 10:34] nvoisin opened #97 "React-Javascript template"
Hi,

I've re-written the react-javascript template with a udf datafeed in ES6 classes, it makes everything cleaner and no need to copy datafeed to the public folder. As I don't use git, I'm not sure how to push my modifications for review.

It's tested and it works.

Thanks

[2019-04-23 22:57] kirchet commented on #96
Sorry for misundestanding, this issue should not be closed.
@93Kamuran, please provide a link to your chart and we'll take a look what is wrong.

[2019-04-24 03:43] yuanjiacheng opened #98 "how to show the watchlist"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to '....' folder
3. Run command
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, a

[2019-04-24 03:49] yuanjiacheng commented on #98
I set the widgetbar in the widget as the doc said,but not work
![微信截图_20190424114759](https://user-images.githubusercontent.com/7556989/56631230-01e65080-6687-11e9-8a5e-04f80470c2c8.png)
![微信截图_20190424114836](https://user-images.githubusercontent.com/7556989/56631237-07439b00-6687-11e9-9ef4-722781adcbc4.png)

[2019-04-24 08:32] 93Kamuran commented on #96
It was all about my local storage. so it was my mistake. I solved the problem. Thank you for response

[2019-04-24 17:05] kirchet commented on #96
You're welcome

[2019-04-24 17:05] #96 closed

[2019-04-24 17:08] kirchet commented on #98
Watch list is available only in [the trading terminal](tradingview trading terminal)

[2019-04-25 02:13] #98 closed

[2019-04-27 13:14] CorentinGC opened #99 "[react-javascript] TypeError: e._innerWindow(...).widgetReady is not a function when build"
Hi !

All is working in dev mode, but when I build the project, there is a TypeError and charting_library is not working.

How to reproduce:
1 - Clone the repo
2 - Put charting_library + datafeeds in `/public` and charting_library in `/src`
3 - Do `npm start` then serve : Everything is ok.
4 - do `npm run build` and serve app :
[code]

[2019-04-28 14:03] savitar-dev commented on #99
Ok, after some search, I "fixed" it.
 Just run `serve` without `-s` parameter, or with another serveur ( like python ) as explained here: https://github.com/tradingview/charting-library-examples/issues/15#issuecomment-411001758

[2019-04-28 14:04] CorentinGC commented on #99
Ok, after some search, I "fixed" it.
 Just run `serve` without `-s` parameter, or with another serveur ( like python ) as explained here: https://github.com/tradingview/charting-library-examples/issues/15#issuecomment-411001758

[2019-04-28 21:51] nvoisin commented on #97
I created a pull request. Hope it helps.

[2019-04-29 08:59] zhangyu0218 opened #101 "How to change font size of left menu bar text"
How to change font size of left menu bar text.

[2019-04-29 08:59] zhangyu0218 commented on #101
How to change font size of left menu bar text

[2019-04-30 06:37] #95 closed

[2019-04-30 10:29] timocov commented on #101
Which one?

[2019-04-30 10:34] tbohnen commented on #86
@timocov did you try doing a yarn build instead of just yarn start? It works fine when we run it but then it fails with

```Attempted import error: 'widget' is not exported from 'trading-view/charting_library/charting_library.min'.``` when building.

[2019-04-30 12:00] #99 closed

[2019-04-30 12:04] timocov commented on #54
https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104

[2019-04-30 12:10] timocov commented on #86
No, I didn't :( Unfortunately I already removed the code, could you please send it again here (but **without** charting library's code please)?

[2019-04-30 12:15] timocov commented on #94
Duplicate of #89

[2019-04-30 12:15] #94 closed

[2019-05-01 04:20] zhangyu0218 commented on #101
![image](https://user-images.githubusercontent.com/33249149/57005521-39b34200-6c0b-11e9-8cd1-3e288c1fa1e6.png)
On the mobile the image is too small for the user to click on
how can I make it bigger？
plase help me

[2019-05-01 11:44] tbohnen commented on #86
This is happening on mine and it feels like the sample is pretty outdated (struggled to get it going). If you want, I think the easiest for me is to create another sample with the latest webpack etc.

[2019-05-01 15:40] tbohnen commented on #86
@timocov just to add, I've tried to create a sample from the latest create-react-app from scratch but getting different errors (it's even worse because. It's very hard to try and debug when I don't have the source to understand it.

[code]

[2019-05-02 08:53] tbohnen commented on #86
@timocov Can you please confirm that the minified file is a umd build? Do you know whether it works with webpack 4?

[2019-05-02 10:28] tbohnen commented on #86
Ok, I created a workaround by just putting the trading view js file in a separate folder and doing an npm install so it's in node_modules and not part of my bundle.

[2019-05-02 10:44] fintegri commented on #92
I need step by step react javascript coding example sir ,I try many way but work anything so kindly provide example with package

[2019-05-08 07:02] dosodiapraveen commented on #92
same problem

const widgetOptions: ChartingLibraryWidgetOptions = {
            symbol: this._symbol,
            datafeed: new (window as any).Datafeeds.UDFCompatibleDatafeed(this._datafeedUrl),
            interval: this._interval,
            container_id: this._containerId,
            library_path: this._libraryPath,
            locale: getLanguageFromURL() || 'en',
            disabled_featu

[2019-05-08 10:33] fintegri commented on #92
Hi,

Please anyone help to fix my issue its emergency.Still can't able to integrate reactJS tradingview chart try many ways but not get anything.Please help to fix.

[2019-05-14 17:17] timocov commented on #86
Yes, I confirm that.

That's why we've [frozen version of react-scripts](https://github.com/tradingview/charting-library-examples/blob/894c6dd9376130494aab6d894388fb1141fe1740/react-javascript/package.json#L7).

[2019-05-14 17:19] timocov commented on #101
What image? The button to open left toolbar? I believe you need just update the charting library to the latest version.

Also, it looks like this issue is not related to examples and I'm going to move it to charting library repo.

[2019-05-16 08:19] fintegri commented on #92
@timocov
What is the status ?
Could you please help me to rectify this issue?

[2019-05-16 13:14] fintegri opened #103 "Unable to set height for a chart in react-javascript?"
Unable to set height for a chart in react-javascript?

user height parameter. but this wont affect the chart.

[2019-05-17 09:32] infograinssoftware opened #104 "Adonis js"
Please Share Code For Impliment my own data in tradingview chart in adonis js framework
if anyone work on it

[2019-05-17 16:15] timocov commented on #92
Status is I waiting you for an answer on https://github.com/tradingview/charting-library-examples/issues/92#issuecomment-482630183.

[2019-05-17 17:00] timocov commented on #103
Did you unset `fullscreen` option?

[2019-05-17 17:01] timocov commented on #104
PR is welcomed.

[2019-05-24 06:22] srinivasindukuri opened #105 "React + Redux + connect own data"
Hi Team,

Is there any one implemented Trading view chart with React +Redux  data store + JS API.

It would be very helpful if i get any article on this.

Please help me.

Awaiting for your help.

Thanks,
Srinivas,

[2019-05-24 13:55] playscforever opened #106 "Android 4.4 Error"
Bug:
Android 4.4 and below can't load chart and Android 5.0+ is ok

logcat:

/chromium: [INFO:CONSOLE(713)] "Uncaught ReferenceError: WeakMap is not defined", source: file:///android_asset/charting_library/static/bundles/library.db04e45ec22f0b637da3.js (713)
E/eglCodecCommon: **** ERROR unknown type 0xb80fca18 (glSizeof,80)
E/eglCodecCommon: **** ERROR unknown type 0xb80fca18 (glSizeof,80)
E/eglCo

[2019-05-28 08:34] timocov commented on #106
Does https://www.tradingview.com/chart/ work in android 4.4? If don't, I believe that the charting library will not work too.

[2019-05-30 10:03] timocov commented on #89
https://github.com/tradingview/charting-library-examples/tree/master/react-native

[2019-05-30 10:03] #89 closed

[2019-06-04 11:37] fintegri commented on #92
Issue fixed.
because I remove all typescript file in the charting library finally issue has been fixed

[2019-06-04 11:37] #92 closed

[2019-06-04 11:41] fintegri opened #107 "Market closed issue"
@timocov

Please help me I integrated trading view chart on react now the issue is the chart always display market closed even there is an order .Please help to fix those issue

Here is the screenshot I have attached.
![Trade](https://user-images.githubusercontent.com/42578697/58876446-beeab480-86eb-11e9-83ea-8aef0d916f63.png)

[2019-06-04 12:09] eugene-korobko commented on #107
I suppose this could be because of incorrect session info in symbol information.
Could you please provide what session do you set in symbolinfo?

https://github.com/tradingview/charting_library/wiki/Symbology
https://github.com/tradingview/charting_library/wiki/Trading-Sessions

[2019-06-04 12:23] fintegri commented on #107
Hi,

@eugene-korobko

here is the url is used http://192.168.1.184:3000/trade/chart/symbols?symbol=MKR_ETH

And here is the response

{"name":"MKR_ETH","exchange-traded":"ETH","exchange-listed":"ETH","timezone":"America/New_York","minmov":1,"minmov2":0,"pointvalue":1,"session":"0930-1630","has_intraday":false,"has_no_volume":true,"description":"MKR","type":"crypto","supported_resolutions":["1","5"

[2019-06-12 13:23] imarun577 commented on #92
please give your chart library

[2019-06-12 14:40] imarun577 commented on #15
same issues coming in angular 5

[2019-06-12 14:43] imarun577 opened #108 "ERROR TypeError: i.contentWindow.widgetReady is not a function"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to '....' folder
3. Run command
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, a

[2019-06-14 12:44] loforex opened #109 "Not able to load chart in react-native"
I just download repositories from your github account.

https://github.com/tradingview/charting_library

https://github.com/tradingview/charting-library-examples

above first repo I have tried to run first in browser and its working fine.
see screen shot below.

![image](https://user-images.githubusercontent.com/18213476/59509945-14834600-8ed0-11e9-8604-9aef55a9d701.png)

when I tried to add this

[2019-06-14 14:42] timocov commented on #109
@makedonsky94 can you please take a look?

[2019-06-14 14:54] makedonsky94 commented on #109
Hi! Unfortunately, there is no working sample for Android right now. Currently, the sample [React-Native](https://github.com/tradingview/charting-library-examples/tree/master/react-native) is for iOS only.

[2019-06-17 02:54] dengjiexiao opened #110 "Uncaught TypeError: r.contentWindow.widgetReady is not a function at HTMLIFrameElement.t (charting_library.min.js:2)"

[2019-06-17 08:33] eugene-korobko commented on #110
Hello!
Could you please provide more details about your way of integrating charting library?

[2019-06-17 12:59] loforex commented on #109
@makedonsky94  Okay. one more thing how we can change symbol data in after integration?
any example is ready for that?

I want chart with my API

[2019-06-17 13:00] loforex commented on #109
we are using vertax API

[2019-06-18 23:43] PTBKoo opened #111 "Next.js with TradingView"
Ive followed this example to try and integrate TV with Next.js
https://github.com/tradingview/charting-library-examples/tree/master/react-javascript

First error I was getting was window was undefined so I added a check to import only when window was defined and was getting a new error: TypeError: Cannot set property 'TradingView' of undefined

Used this to help:
https://github.com/zeit/next.js/wi

[2019-06-20 03:41] PsChina commented on #15
@imarun577  检查下 `libraryPath` 是否正确,也许能解决你的问题。

[2019-06-24 06:19] loforex commented on #109
There ? Please reply

[2019-06-30 01:06] knap1930 commented on #109
@makedonsky94 is there no working sample for Android because it won't work, or just because no one has created one yet?

I am trying to get it to work, and get the following error
![image](https://user-images.githubusercontent.com/6470136/60390740-42e94f80-9a92-11e9-9037-67e2653f03da.png)

`
2019-06-29 17:23:37.756 6244-8426/com.aobot W/ReactNativeJS: Possible Unhandled Promise Rejection (id: 1):

[2019-06-30 06:31] knap1930 commented on #109
I got past this issue by setting
[code]

however now I see a blank page, which I am fairly sure is coming from this code
[code]
in en-tv-chart.e6c523133ea801233691.html because of this issue

https://github.com/react-native-community/react-native-webview/issues/560

[2019-07-01 08:05] #110 closed

[2019-07-01 08:09] timocov commented on #109
It's not about examples, please create another issue in charting_library repo.

[2019-07-01 08:09] #109 closed

[2019-07-15 11:23] sureshdas commented on #92
you have to add Bundle.js and Pollyfills.js in index.html file

After that the issue will solve

[2019-07-17 06:41] senzacionale opened #113 "Update examples to use latest version of the charting library"
[code]

Can someone help what to fix?

[2019-07-17 13:54] trungnqpro commented on #30
I have experienced with nuxtjs and integrated with tradingview successfully. if you need, i will make a project demo for this features, @timocov .
Please let me know if you concerned about this.

[2019-07-18 09:21] timocov commented on #30
@trungnqpro that's great! Feel free to make PR https://github.com/tradingview/charting-library-examples/blob/master/CONTRIBUTING.md#contributing-code.

[2019-07-18 09:29] timocov commented on #113
We'll need to update examples to use the latest version of the library. Currently they should work with 1.12 and 1.13 versions of the library (I believe). In 1.14 we've removed that function.

[2019-07-18 09:34] timocov commented on #111
See #30

[2019-07-18 10:13] trungnqpro commented on #30
Dear Sir,
I will do it soon, and make PR
Thank you,

Brgs,
Trung Nguyen

Vào Th 5, 18 thg 7, 2019 vào lúc 16:21 Evgeniy Timokhov <
notifications@github.com> đã viết:

[2019-07-19 03:18] nonotest commented on #109
tv is working fine on android when loading from a website (eg not static assets)

[2019-07-24 07:05] farablanco opened #114 "Example where datafeeds is placed under the src folder (react-javascript)"
- **Framework/library:**  ReactJS

Hi,

I want to access the datafeeds builds from src folder instead of public.
Can anyone show how that is done?
Thanks,

Fara

[2019-07-24 22:22] bryanray67 opened #115 "Angular 8 Example - The Angular 5 Example Has Error Using Angular-8"
I'm using Angular 8.  I've downloaded the charting_library folder and datafeeds folder into the sample Angular 5 app in the "assets" folder as instructed, but I get an error on compile (ng serve).

ERROR in src/app/tv-chart-container/tv-chart-container.component.ts(114,18): error TS2339: Property 'attr' does not exist on type 'HTMLElement'.

If I comment out the .attr line, it errors on the next.

[2019-07-25 17:00] timocov commented on #114
What do you mean?

[2019-07-25 17:02] timocov commented on #115
Unfortunately the examples isn't updated to use them with the latest version of the charting library. We'll fix them soon. See #113.

[2019-07-25 17:02] #115 closed

[2019-07-26 08:01] farablanco commented on #114
Didn't want to place datafeeds in public since it does not get built.
But figured it out.
Thanks.

[2019-08-01 09:44] #113 closed

[2019-08-01 10:18] timocov commented on #30
@trungnqpro did you have any chance to make a PR for this?)

[2019-08-01 11:48] trungnqpro commented on #30
Sorry man,
Im so busy right now, maybe i will make PR soon.

Brgs,
Trung Nguyen

Vào Th 5, 1 thg 8, 2019 vào lúc 17:18 Evgeniy Timokhov <
notifications@github.com> đã viết:

[2019-08-01 12:03] timocov commented on #30
No problem. Thanks for the update.

[2019-08-01 18:19] yaseenayahya opened #117 "Make Multi color line type plot"
I am trying to change color of plot type line on my condition which is in

this.main = function(context, inputCallback) {
var b = 0;
var b == 0 ? "red": "blue";
}
How i can achieve this??

[2019-08-02 07:24] yaseenayahya opened #118 "Unable to plot multi color line in angular"
Unable to plot multi color on type line from my condition is there any method to achive this.

[code]

Can you help me with change brushes color .Is there any method??

[2019-08-02 08:34] yaseenayahya opened #119 "Unable to create multi line indicator."
how can i change color of line on my condition.

I am trying to set plot brush in this this method. Is this Possible ?

 this.main = function(context, inputCallback) {
var b = 0;
var plotbrush = b == 0 ? "green" : "black";

changePlotBrush(plotbrush); //contains any this type of method
}

[2019-08-02 08:36] timocov commented on #119
@yaseenayahya please stop create unrelated to this repo issues. If you want to get help with the charting library - please create an issue in https://github.com/tradingview/charting_library repo (I've moved 2 previously created issues https://github.com/tradingview/charting_library/issues/4201 https://github.com/tradingview/charting-library-examples/issues/118).

[2019-08-02 08:36] #119 closed

[2019-08-02 13:34] yaseenayahya commented on #119
unable to access   https://github.com/tradingview/charting_library having
404. can you help me authenticate this repo..??

On Fri, Aug 2, 2019 at 1:37 PM Evgeniy Timokhov <notifications@github.com>
wrote:

[2019-08-03 13:44] nimahkh opened #120 "need example of realtime (web socket )"
hello guys .
i need an example of  realtime JS API , on react or pure javascript

[2019-08-06 08:25] timocov commented on #119
You need to request an access via https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/.

[2019-08-06 08:34] #114 closed

[2019-08-08 12:13] lacksfish commented on #110
For me, the React app was hosted on a subfolder on my domain, so somewhere in your code where you do something similar to:

[code]

You want to make sure that `libraryPath` is including the subfolder in the URL, that fixed it for me :+1:

[2019-08-08 12:14] lacksfish commented on #110
Also, apart from that, double check the couple setup steps from tradingview here:

https://github.com/tradingview/charting-library-examples/tree/master/react-javascript#how-to-start

[2019-08-08 13:04] lacksfish commented on #18
Check this solution, it worked for me: https://github.com/tradingview/charting-library-examples/issues/110#issuecomment-519492498

[2019-08-09 05:49] taalhach opened #121 "Question--On vue 2.6 tradingview is not initialized"
On vue.js 2.6 when i try to run the graph, graph gives a error of tradingview is not initialized when i revert back to vue 2.5.17 i works fine there

[2019-08-13 08:31] timocov commented on #121
Maybe something was changed with loading/bundling between these version? I'm not familiar with vuejs unfortunately, but if somebody finds the solution - feel free to make a PR.

[2019-08-14 15:41] yuriygeorge opened #122 "Cannot integrate Charts to VueJS SPA (babel/webpack)"
In examples for VueJS using '@vue/cli', it all works fine, but with babel/webpack (with my project integration), I have got some problems with imports.

Our vue.js project doesn't use the '/public' folder, as it does in the vue.js tradingview examples. So, instead of putting the files and folders into '/public' I place them into '/static'
 folder instead , and also changing the script imports.

I

[2019-08-17 08:40] parveensaini1 opened #123 "Change background of the chart"
- **Framework/library:**
- **Link to page with the framework/library:**
We need to change the theme of the the trading view chart from white to dark how can i do that.... Right now we are using the js based chart library

[2019-08-21 07:23] JSWalkingMan opened #124 "Questions about createShape"
- **Framework/library:**
- **Link to page with the framework/library:**
vue.js ：  createShape(point, options)
 How to Set Click Events after Creation

[2019-08-27 15:29] #122 closed

[2019-08-27 15:38] yuriygeorge opened #126 "'DEFAULT_VALUE is not defined' In VueJS SPA"
'DEFAULT_VALUE is not defined' Error shows when enter on page with TradingView charts. But if refresh full page (F5), all works fine.

[2019-08-27 15:47] timocov commented on #126
Do you have repro code? It would be very useful to help with this issue.

[2019-08-27 16:01] yuriygeorge commented on #126
Sorry, but I cannot publish this code.

Try to make reproduce this situation on new project

[2019-08-28 07:32] geun commented on #111
I make PR for nextjs

[2019-08-28 09:56] yuriygeorge commented on #126
I found some reason

When I add datafeed url from example ('https://demo_feed.tradingview.com') all works. But with our API url situation repeats:

I think problem in realization of GET '/config' request

![Screenshot from 2019-08-28 12-53-11](https://user-images.githubusercontent.com/4934760/63845768-3189ca00-c993-11e9-9fb4-984cccba5eea.png)

[2019-08-28 15:44] yuriygeorge commented on #126
I resolve this - problem was in my routing and internal logic.

[2019-08-28 15:44] #126 closed

[2019-08-30 04:32] galipmedia commented on #86
charting_library_min_js__WEBPACK_IMPORTED_MODULE_6__.widget is not a constructor
I am having the same problem, can anyone explain how to fix this?

[2019-09-02 09:19] afsanefda commented on #111
do you have an example to help me? I even can not get the library through this link https://github.com/tradingview/charting_library/
it is 404!

[2019-09-02 09:20] afsanefda commented on #111
I need help if you had the experience using trading view charts in nextjs. Could you please help me?

[2019-09-03 05:48] geun commented on #111
@afsanefda  you should authorize to access https://github.com/tradingview/charting_library

You can apply it
https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/

[2019-09-03 08:55] timocov commented on #86
@galipmedia what did you do to get this error?

[2019-09-03 09:03] galipmedia commented on #86
I was trying as per the vue example to include it as - import {widget} from '../../path to tradingview' . I have since just included it in the head of my html and it works fine.

[2019-09-09 04:51] learntolearn99 opened #128 "Cannot import JS file in nuxtjs"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to '....' folder
3. Run command
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, a

[2019-09-09 10:30] timocov commented on #128
Can you please provide a little bit more context? What do you do to get this error?

[2019-09-09 16:42] learntolearn99 commented on #128
hi @timocov
I cannot load this file:
`import { widget as TvWidget } from "../../../static/traddingview/charting_library/charting_library.min.js";`

[2019-09-10 16:15] timocov commented on #128
Did you use SSR?

[2019-09-11 01:59] learntolearn99 commented on #128
I didn't

Could you help me integrate tradingview on nuxt js

[2019-09-11 11:34] timocov commented on #128
Unfortunately I'm not familiar with that framework. But it's possible that someone else can help you, so if you can provide a small repo with code of repro your error - it would be awesome.

[2019-09-14 18:23] LilCore commented on #92
What¿?

[2019-09-15 11:41] tahlilaty commented on #44
Hi i have downloaded the sample the cart lib works just fine for android but for ios it does not load anything. As i think there are some path issue. Is the charting_library is different for ios or same library is used?

[2019-09-15 12:28] tahlilaty opened #129 "Ios charting_library not working"
I have followed and ran successfully android example but ios the library is not working as i followed the instructions of the example but noting is loaded just a blank screen. Is the library for ios is different then android and library that i used in android does not work on ios example

[2019-09-16 06:07] fasterv410 commented on #77
It Working, Thank you.

[2019-09-17 04:40] learntolearn99 commented on #77
Hi @fasterv410 and @poruchik85
I'm getting this error
in ./components/exchange/TVChartContainer.vue?vue&type=script&lang=js&

"export 'widget' was not found in '../../assets/js/charting_library.min.js'

[2019-09-17 05:42] learntolearn99 opened #130 "[VueJS] how to remove white border?"
![image](https://user-images.githubusercontent.com/54758734/65014342-97d98b00-d948-11e9-89cf-6401d8cda320.png)

[2019-09-17 11:00] learntolearn99 commented on #77
Hi
who anyone can help me remove  white border in tradingview ?
![image](https://user-images.githubusercontent.com/54758734/65036104-e1d86600-d974-11e9-918d-70eaeeecd209.png)

[2019-09-18 07:56] timocov commented on #44
@tahlilaty what do you mean? I believe there should be the same library for every example in this repo.

[2019-09-18 07:57] timocov commented on #129
@RomanGal can you please take a look?

[2019-09-18 09:22] tahlilaty commented on #129
Dear Team,

Mr. Furqan (nfs.awam@gmail<mailto:nfs.awam@gmail>) is our IOS developer and we need some assistance regarding implementation of technical charts in IOS as we have successfully implemented in android.
Please assist.

Thanks

From: Evgeniy Timokhov <notifications@github.com>
Sent: Wednesday, September 18, 2019 11:58 AM
To: tradingview/charting-library-examples <charting-library-examples@

[2019-09-18 10:09] timocov commented on #77
@learntolearn99 see https://github.com/tradingview/charting_library/issues/4320#issuecomment-532145366

[2019-09-18 12:00] greenJVS commented on #129
@tahlilaty What options do you use when you add library files to a Xcode project? Try setting the value "Create folder references" for the added folders.
If this does not help, please show your initialization code and WKWebView instance setup code.

[2019-09-18 15:30] tahlilaty commented on #129
I  simply added this library https://github.com/tradingview/charting_library  folder in the sample downloaded from here and ran the sample but no chart shown just blank screen. Below is given the code of sample

   override func viewDidAppear(_ animated: Bool) {
        super.viewDidAppear(animated)

        let frame = UIScreen.main.bounds;

        let configuration = WKWebViewConfiguration()

[2019-09-18 15:37] greenJVS commented on #129
@tahlilaty is console output empty?

[2019-09-18 16:56] tahlilaty commented on #129
Yes console is empty it is picking library html page but not showing any thing but same library is working on android sample by just adding

[2019-09-18 17:34] greenJVS commented on #129
@tahlilaty What version of Xcode and iOS are you using? Are you running the program on a device or simulator?

[2019-09-19 07:12] #111 closed

[2019-09-19 07:31] trungnqpro commented on #30
@timocov hmm, nextjs and nuxtjs is different,nextjs based on reactjs, and nuxtjs based on vuejs.
please re-open this issue,
thank you!

[2019-09-26 02:58] Ale-cc commented on #110
Just remove
 `window.TradingView.onready(() => {
   });`

TradingView runs.

[2019-09-27 00:31] trungnqpro commented on #30
Dear sir Timokhov,
I have already made PR for nuxtjs version,
I structured my project as real world project on production and used our
own api service to test data
(our product: https://www.bcnex.net/)
Please review for me and inform me if any probs.

Thank you,
Trung Nguyen

Vào Th 5, 19 thg 9, 2019 vào lúc 14:54 Evgeniy Timokhov <
notifications@github.com> đã viết:

[2019-10-03 06:40] coj337 opened #132 "Blazor Sample"
- **Framework/library:** Blazor
- **Link to page with the framework/library:** https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor

[2019-10-03 17:30] Pascaltallarida commented on #81
Hello, we will work on it using Flutter, have you finally worked on it?

[2019-10-03 17:49] Pascaltallarida opened #133 "Drag and drop SL and TP on the chart"
Hello,

we currently use this library for our trading platform; we can show the order, and the stop loss
![image](https://user-images.githubusercontent.com/35111325/66150986-0a23be00-e61f-11e9-929f-92a150dc1225.png).

Is this library enables to drag and drop the SL line to modify its value, the same way the trading platform of tradingView does?

[2019-10-03 17:53] Pascaltallarida opened #134 "Drag and drop trading : place stop on the chart before to open a trade"
Following my first question,

is there a way to put the stop loss on the chart before to take the trade? User could drag and drop the line to modify SL price.

We built it in our C# trading platform but we would like to go all-in with TradingView and to recreate our features on it. But is it possible?

We would like to recreate this > https://screencast-o-matic.com/watch/cqj3X7tXsD

[2019-10-09 09:25] moderniinfotech-123 commented on #92
same problem on angular 7

const widgetOptions: ChartingLibraryWidgetOptions = {
symbol: this._symbol,
datafeed: new (window as any).Datafeeds.UDFCompatibleDatafeed(this._datafeedUrl),
interval: this._interval,
container_id: this._containerId,
library_path: this._libraryPath,
locale: getLanguageFromURL() || 'en',
disabled_features: ['use_localstorage_for_settings'],
enabled_features: ['study_templ

[2019-10-09 11:25] moderniinfotech-123 commented on #92
add in index.html angular 8
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/assets/datafeeds/udf/dist/polyfills.js"></script>
    <script src="/assets/datafeeds/udf/dist/bundle.js"></script>

[2019-10-11 08:04] moderniinfotech-123 commented on #48
check this for api in node https://github.com/bergusman/tradingview-udf-binance-node

[2019-10-12 22:29] maksimryapolov77 opened #135 "Compilation Error Regarding Datafeeds"
PS D:\src\angular\tradingview> ng build

ERROR in src/assets/datafeeds/udf/src/symbols-storage.ts:78:3 - error TS2322: Type 'string | number | boolean | string[]' is not assignable to type 'ExchangeDataResponseSymbolData[Field]'.
  **Type 'string' is not assignable to type 'ExchangeDataResponseSymbolData[Field]'.
    Type 'string' is not assignable to type 'never'.**

78      return value[arrayInd

[2019-10-14 07:25] Trades-King commented on #120
ping me

[2019-10-15 05:18] kenneth opened #136 "React Router how to use charting-libuary?"
React Router will redirect static file  `charting_library`  folder and 404 error
Any suggestions?

[2019-10-15 17:04] timocov commented on #132
Feel free to make PR.

[2019-10-15 17:09] timocov commented on #136
Maybe you can provide some steps to reproduce? Without them I don't think and somebody can help you with that.

[2019-10-15 17:10] timocov commented on #81
No.

[2019-10-17 02:49] kenneth commented on #136
@timocov just like this ,react route can't deal with static file and make charting_library route can't access ,404 error

http://binance.quomap.com/trade/BTCUSDT
https://binance.quomap.com/trade/BTCUSDT

`
import React from 'react'
import { BrowserRouter as Router, Route } from 'react-router-dom'

const App = () => (
  <Router>
    <React.Fragment>
                    <Route exact path="/" compone

[2019-10-17 09:38] timocov commented on #136
When I said "step to reproduce" I mean step-by-step guide to run the issue locally (repo with the example and steps how to run/get the issue).

Can you serve library's files not by react router but with any other server (like nginx and so on)? All you need to bundle `charting_library.min` file inside your js bundle (it's API) and then serve library's files somehow (you don't need to serve them wit

[2019-10-23 15:54] timocov commented on #30
Hey @trungnqpro, thank you for your work. Please pay attention on comment in the PR.

[2019-10-23 16:16] tazotodua commented on #56
Check this solution: https://github.com/tradingview/charting-library-examples/issues/110#issuecomment-519492498

[2019-10-24 06:00] PHPJourney opened #138 "charting_library.min.js:1 Uncaught TypeError: Cannot read property 'TradingView' of undefined"
like this
Uncaught TypeError:

I use uni-app dev. it's support Es6 . but not support window Object.

I'm not sure package right or no.

In before Post I see。need install babel，I'm try install

It be fail

Let me show my Code.
[code]

The difference is that I can't use HTML entry files, and I don't have window object information. In addition, the UDF of this database has also been changed by me.

O

[2019-10-24 18:04] #138 closed

[2019-11-01 01:29] NeoXtreem commented on #132
This would certainly be a useful addition.

[2019-11-02 19:07] NeoXtreem commented on #132
This would certainly be useful.  I've posted a [question on SO](https://stackoverflow.com/q/58674306/197591) about this.  If anyone can assist, I'd be most grateful, and will put the end result in a PR.

[2019-11-05 07:01] infograinssoftware commented on #104
Please Share Code For Impliment my own data in tradingview chart in adonis js framework
if anyone work on it

[2019-11-05 07:01] infograinssoftware commented on #104
Please share the code for adonis js because m not get any update from there

[2019-11-06 11:40] alexejn opened #140 "Дайте доступ плз"
https://github.com/tradingview/charting_library не могу открыть
хочу запустить пример на свифте, но доступа к библиотеке нету ((

[2019-11-06 12:12] timocov commented on #140
https://github.com/tradingview/charting-library-examples/tree/master/ios-swift#how-to-start

https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/

[2019-11-06 12:12] #140 closed

[2019-11-06 14:33] Rishabhai commented on #109
In that case , all JS API or UDF api is implemented in backend and gives response as an html file which you show using webview ?
I am trying you implement JSApi in react native on android , i am getting error while fetching static tradingview library files.

[2019-11-10 02:15] MarnoDev opened #141 "How to set lock price / bar rate in code?"
How to set lock price / bar rate in code?

[2019-11-13 02:27] makelemonade-dev opened #144 "sidetoolbar not working ..."
Hi, I want using Drawing toolbar.
TradingView working fine now, and I want to add Drawing toolbar

I'm using angular 1.x.x
My TradingView code
[code]

but side_toolbar not showing, working why??
Is issue because of the version? How to know charting_library version?
help me please

[2019-11-14 02:17] #144 closed

[2019-11-21 04:06] revanth666 opened #145 "window.TradingView.onready is not a function"
TypeError: window.TradingView.onready is not a function TVChartContainer.componentDidMount

/TradeViewChart/tradingview-js-api-tutorial-master/tradingview-js-api-tutorial-master/part1/src/components/TVChartContainer/index.jsx:58

[2019-11-21 04:07] revanth666 commented on #145
Can any one please tell how to pass own data to charting library and where to pass

[2019-11-22 08:49] senzacionale opened #146 "Can not show more charts but only one if I am using <app-tv-chart-container></app-tv-chart-container>"
I have strange problem. Library is working fine with angular 7 but I can show only one chart per page. I can not use loop and show it more at once.

Any ideas why? Seconf trading view chart in same page is always empty and not initialized.

I am using component like this one
https://github.com/tradingview/charting-library-examples/blob/master/angular5/src/app/tv-chart-container/tv-chart-container.

[2019-11-22 10:54] elukonina commented on #145
You can see [Breaking-Changes](https://github.com/tradingview/charting_library/wiki/Breaking-Changes#version-114)

[2019-11-22 16:20] everget commented on #146
@senzacionale
The example was created under assumption of having only one chart at the same time.
If you need multiple charts you will have to extend that example.
The problem is that TV charting library widget uses an id attribute of a specific element ("container") to mount the chart.

https://github.com/tradingview/charting-library-examples/blob/master/angular5/src/app/tv-chart-container/tv-cha

[2019-11-23 19:20] senzacionale commented on #146
Thank you

[2019-11-23 19:20] #146 closed

[2019-11-23 19:21] senzacionale opened #147 "chart().createStudy with custom values"
Is it possible to use custom values for chart().createStudy and not predefined?

Currently I am using for example 'MCAD' study but i don't know how to define custom values and not predefined.

Thank you

[2019-11-25 09:01] #145 closed

[2019-11-27 02:11] testn commented on #89
@timocov  Does it work with Android as well?

[2019-11-28 12:22] timocov commented on #89
Afaik no, it doesn't work on Android. @makedonsky94 ?

[2019-11-28 12:32] makedonsky94 commented on #89
There was an [issue](https://github.com/react-native-community/react-native-webview/issues/560) in react-native library.
I guess we should check if it was fixed. But I see no response by react-native's developers. So maybe WebView still have that bug with iframe

[2019-11-29 08:49] norasteria opened #148 "Creating Custom Indicator On Tradingview v1.14"
Hi all,

I'm new on using Tradingview library, nowdays, I have a project for trading chart using ReactJs and Tradingview v1.14. I have an issue about creating custom indicators. Based on example from one of articles I found ([https://www.jianshu.com/p/2b49b75cada0](https://www.jianshu.com/p/2b49b75cada0)) I succeed created BarColor indicator, but for creating Equity indicator (from that article),

[2019-11-29 13:44] eugene-korobko commented on #148
Hello!

Could you please clarify what do you mean as ' the indicator not created' ? Do you have any errors in console?

[2019-11-29 23:19] norasteria commented on #148
The custom indicator didn't appear at indicator window. After I turning debug as true, it showed this:

![Screenshot from 2019-11-30 06-15-45](https://user-images.githubusercontent.com/24922181/69892536-1aaf9680-1339-11ea-8f3b-7e5cc17b66cb.png)

[2019-12-02 07:05] norasteria commented on #148
Well, It solved guys. We just to change the symbol to the ticker from PineJS, like so :
[code]

Thanks .

[2019-12-02 08:29] timocov commented on #148
This issue should be in `charting_library` repo.

[2019-12-02 08:29] #148 closed

[2019-12-05 07:28] Ssunnyy commented on #129
@greenJVS
I am an IOS developer
I use the charging library applied by the company to put it into IOS swift demo and run the white screen on the iPhone without any display. Please ask how to integrate to make the program run normally. Thank you

<img width="730" alt="截屏2019-12-05下午3 12 57" src="https://user-images.githubusercontent.com/7019575/70213222-cc085f00-1773-11ea-80b8-06df1faa84db.png">
<im

[2019-12-05 08:03] greenJVS commented on #129
@Ssunnyy,
When you add a library to your project, you must select “Create folder references” for the added folders. This is important because the library contains files with the same name, but in different folders, so the “Create folder references” option adds files to your application bundle with the same folder structure as in the library.
Note that the added folders should be blue, not yellow.

[2019-12-05 11:49] ngocdv-namitrade opened #149 "React-native: Example not working with react-native-webview@7"
- **Framework/library:** React-native

From react-native-webview v7, the example does not work anymore.
It shows only blank screen. v5 and v6 work fine.

[2019-12-06 04:00] ngocdv-namitrade commented on #149
Ok for any others who encountered the same problem like me, we need a little patch to react-native-webview WKWebView
`[_webView.configuration.preferences setValue:@TRUE forKey:@"allowFileAccessFromFileURLs"];`

[2019-12-06 04:00] #149 closed

[2019-12-06 13:36] surya321123 opened #150 "Explain TradeView Chart Timeframe (15m, 30m)"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to '....' folder
3. Run command
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, a

[2019-12-07 02:59] Ssunnyy commented on #129
@greenJVS Thank you very much. According to your prompt, it can be displayed correctly。

[2019-12-07 07:46] manhnt9 commented on #86
I also use webpack and meet error too:
[code]

[2019-12-09 09:54] timocov commented on #86
@manhnt9 and why are you asking here, not in https://github.com/tradingview/lightweight-charts ? Also, I don't think that it's related to the library itself, you need to check your webpack config (also, you can provide steps to repro it).

[2019-12-09 11:49] surya321123 opened #152 "Kindly Explain Time frame Inteval for (15m, 30m), how can allow space between the interval bar pls"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to '....' folder
3. Run command
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, a

[2019-12-09 11:51] surya321123 opened #153 "Kindly Explain Time frame Inteval for (15m, 30m), how can allow space between the interval bar pls"
- **Framework/library:**
- **Link to page with the framework/library:**

[2019-12-28 21:06] dittops commented on #48
@pumano how do you connect this to JSAPI as it's expecting an object with these functions. If we are using the classes, how do you pass just the object back without the DI?

[2019-12-28 21:07] dittops commented on #48
@moderniinfotech-123 the code is shared is using UDF format If I'm correct. I'm looking for the JSAPI for realtime injection using sockets.

[2019-12-28 21:09] dittops commented on #120
@nimahkh try this article if you are looking for pure JS implementation. I have managed to use this in angular as a workaround.

https://medium.com/@jonchurch/tradingview-js-api-integration-tutorial-introduction-5e4809d9ef36

[2020-01-05 20:09] Rishabhai opened #156 "while Implementing calculateHistoryDepth"
TV version: 1.14
react version: 16.12
I am facing issue in implementing calculateHistoryDepth.
It is not working as expected in my case.

my Code.

  calculateHistoryDepth: (resolution, resolutionBack, intervalBack) => {
    return resolutionToIntervalMapping(resolution, resolutionBack, intervalBack)
  }

const resolutionToIntervalMapping = (resolution, resolutionBack, intervalBack) => {
  let ret

[2020-01-06 23:08] jesusLM94 opened #157 "Alternatives to use charting-library with React-javascript"
Hello,

First of all, thanks for the great work, I've been using this for a while and it works great.
I came here for ideas, I want to export my app as a React component so another react-app can just import the `build` and use it as `<CustomApp />`, but I'm having issues with charting-library, so far the only way that I have made this work is by copying the charting-library files to the public fol

[2020-01-08 07:35] DominicTobias-b1 commented on #157
I'm also wondering this, it's not an ideal approach to make users copy charting_library into their server bases. Webpack is perfectly capable of dynamically loading chunked modules which are contained in an NPM module. I wonder if there is a way to get TV to behave like a modern library 🤔

[2020-01-09 07:17] Rishabhai commented on #105
@srinivasindukuri
1st :- Follow this tutorial
https://medium.com/@jonchurch/tradingview-js-api-integration-tutorial-introduction-5e4809d9ef36

2. I use tradingView chart with react and redux.
for history data i fetch data directly from api whenever getBars is called and for realtime data i use redux store to get price (LTP/Ticks).
I just subscribe a method to redux store for eg:-
Inside (stream.js

[2020-01-10 14:48] timocov commented on #129
Looks like this issue could be closed due #155. If you have any questions - feel free to re-open/comment it/create another issue.

[2020-01-10 14:48] #129 closed

[2020-01-13 08:53] Rishabhai opened #158 "calculateHistoryDepth Example"
- **Framework/library:**  React
- **Link to page with the framework/library:**  https://reactjs.org/

I am using calculateHistoryDepth api and i am facing few issue with it.
it is working as expected for the first call to fetch Data with subsequent calls depth are random.

My Implementation :-
i have defind a __**resolutionToIntervalMapping**_ function_ which maps different resolution to depths an

[2020-01-13 09:34] timocov commented on #158
Duplicate of https://github.com/tradingview/charting_library/issues/4656

[2020-01-13 09:34] #158 closed

[2020-01-14 15:33] timocov commented on #157
@jesusLM94 Actually, it's unnecessary to referencing in html file. I hope that it could be done in import-way, just see [angular example](https://github.com/tradingview/charting-library-examples/blob/c602d87d302f6c4de39b26dc1f36bd8ae6723aff/angular5/src/app/tv-chart-container/tv-chart-container.component.ts#L2-L7). That example just import the library from file without referencing it in html file.

[2020-01-17 07:46] 2295ad opened #159 "How do I hide tradingview chart library errors in production build?"

[2020-01-17 10:02] timocov commented on #159
What errors?

[2020-01-17 10:15] 2295ad commented on #159
Hi @timocov ,
 Thanks for the quick response. My chart is getting rendered, but it shows these errors

Uncaught (in promise) TypeError: Cannot read property 'childNodes' of null
    at e.t.widgetsCount (floating-toolbars.a37519a9a72c97ec0ff1.js:3)
    at e.t.addWidget (floating-toolbars.a37519a9a72c97ec0ff1.js:3)
    at n.<anonymous> (floating-toolbars.a37519a9a72c97ec0ff1.js:11)
    at Array.forE

[2020-01-17 10:20] timocov commented on #159
What's steps to reproduce?

[2020-01-27 09:10] sriharishine2020 opened #160 "Expert in Trading View Chart Library Required for assistance"
Hello, we have a team of developer working on a project ,We have Web service api for the price feed from our server, we want to use the Trading View chart with our price feed, we want to know if any expert here who can assist in implementing the same. IT would be great.

I will compensate if required. Please do let me know. thanks

[2020-01-29 04:31] DominicTobias-b1 commented on #157
Thanks, it's a shame as I find the Lightweight Charts to be a significantly nicer user experience. Just NPM install and `setData` for initial snapshot and `update`, which is exactly what I need without the rigidity of trying to fit my modern Apollo GraphQL API around Datafeed

[2020-02-11 22:58] marketdevsoft opened #161 "error with angular (8.3.24)"
Hi, i'm new and i try to install charting_library into angular (8.3.24), following this step: https://github.com/tradingview/charting-library-examples/blob/master/angular5/README.md.
But when i run ng serve it fails with those errors:
ERROR in src/assets/datafeeds/udf/src/symbols-storage.ts:76:3 - error TS2322: Type 'string | number | boolean | string[]' is not assignable to type 'ExchangeDataResp

[2020-02-12 14:13] timocov commented on #161
What version of the TypeScript compiler you have?

[2020-03-04 07:22] ConerK opened #165 "How to configure the replay function"
Hi ！I want show replay function , how to configure on react-javascript?

[2020-03-13 03:19] wickedapp commented on #160
Hi mate, not sure if you still need help. You can reach out to me wickedapp001@gmail.com

[2020-03-14 21:17] maurodelazeri commented on #161
running in the same problem, I took the example, yarn;yarn start and I get this...

should I use a specific version ?

[code]

[code]

https://github.com/tradingview/charting_library/blob/master/datafeeds/udf/src/symbols-storage.ts#L76

[2020-03-14 21:37] maurodelazeri commented on #161
I see https://github.com/tradingview/charting_library/issues/4457

[2020-03-14 21:38] maurodelazeri commented on #161
is this unstable version available ?

[2020-03-16 10:37] jitendraashutec opened #167 "How can I change color UI Widget like button/dropdown in trading chart"
- **Framework/library: React**

I want to change the color of button/dropdown in the trading chart. How can I do that?  I have attached images where I want to change color.

![Button 5](https://user-images.githubusercontent.com/42025264/76747978-03899d00-67a0-11ea-91b7-8234ac231620.jpg)
![Chart liberary 1](https://user-images.githubusercontent.com/42025264/76747981-06848d80-67a0-11ea-8b69-73056264

[2020-03-17 12:19] timocov commented on #161
We can guarantee success compilation of UDF datafeed only for TypeScript version we provided that package. We update that version as soon we update our project, but you can easily fix it for yourself because UDF datafeed provided with source code and basically should be in your repo (as soon it's just example of datafeed).

[2020-03-17 12:28] maurodelazeri commented on #161
@timocov I got this, just need to force `"typescript": "3.3.1"` to match with the UDF

[2020-03-25 02:17] rttolipas opened #168 "Indicator is disrupting upon zooming in/out"
**To Reproduce**

Steps to reproduce the behavior:
1. Use <b>Indicator</b> (try <i>Bollinger Bands</i>)
2. Zoom in/out using keyboard (ctrl + / cmd +)
3. Once you get 70% zoom out, for example, try to get back to 100%. (ctrl  0 / cmd 0)
4. See error. Indicator failed to align to its original position

**Screenshots**
 - called event
<img width="1440" alt="Screen Shot 2020-03-24 at 6 24 03 PM" src=

[2020-03-27 21:56] fernando-pascoal commented on #17
@timocov tradingview/charting_library#1277 is 404 for me. I need add dark theme on LightweightCharts.createChart. Can you help me?

[2020-03-28 14:48] shoebhoney opened #169 "Not working with higher react-native version | iOS"
charting-library-examples/react-native/

Its not working with higher version of react-native.
 **"react-native": "0.59.8"**
Showing blank white screen.

**"react-native-webview": "7.0.1"**

**To Reproduce**

Run the App in iOS.

**Expected behavior**

It should show the chart library but it is showing white blank screen.

**Screenshots**

![Screenshot 2020-03-28 at 8 16 43 PM](https://user-images.

[2020-03-28 17:29] shoebhoney commented on #149
@ngocdv-namitrade what was your **react-native** version? I am also facing same issue.
Its not working in `"react-native": "0.59.8"`

[2020-03-30 10:34] timocov commented on #17
@fernando-pascoal do you have access to charting_library repo? Did you request an access to it via https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/? Did you get approve for that?

[2020-03-30 10:41] timocov commented on #169
@makedonsky94 can you please take a look?

[2020-03-30 11:18] makedonsky94 commented on #169
Hi!
Unfortunately, **react-native-webview** has breaking changes at version 7.0.1.
We will update the example at the near future but no ETA as of yet

[2020-03-30 15:35] shoebhoney commented on #169
@makedonsky94 @timocov

Thank you both of your for responding to my issue.

I will be waiting for another update from your side with respect to react-native higher version.

Thanks & Regards
Shoeb

[2020-04-06 11:39] vishnug1995 opened #170 ""export 'widget' was not found in '../charting_library.min' when building"
when building electron vuejs it shows "export 'widget' was not found in '../charting_library.min' when building" , but work fine in development

Tradingviewchart.vue
            <template>
                  <div id="tv_chart_container" style="height: 600px;"></div>
              </template>
               <script>
               import { widget } from '../charting_library.min';
                imp

[2020-04-07 09:04] timocov commented on #170
Did you looking for similar issues like https://github.com/tradingview/charting-library-examples/issues/80#issuecomment-483326985 or something? `charting_library.min.js` is UMD module, which has export `widget`.

[2020-04-28 19:29] whatnowangga opened #171 "ReactJS - Files"
Hello
can someone share the file like charting_library and datafeeds ?

[2020-04-28 19:30] whatnowangga commented on #171
![image](https://user-images.githubusercontent.com/13533060/80529213-51a9d700-89c1-11ea-8e80-df21c80e231f.png)
i got stuck with this infinite loop

[2020-04-28 23:32] raycoga opened #172 "I cannot run his demo"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

i got this error ./src/charting_library/charting_library.min.js
  Line 1:  'define' is not defined  no-undef
  Line 1:  'define' is not defined  no-undef
and i only do the exact instructions that u post on the repo

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. copy th

[2020-04-29 16:47] timocov commented on #171
It isn't file, it should be folder with charting library content.

[2020-04-29 16:48] timocov commented on #172
https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104

[2020-04-29 16:48] #172 closed

[2020-04-29 17:19] whatnowangga commented on #171
Yeah i know
where i can get the folder ?

[2020-04-30 07:25] timocov commented on #171
From https://github.com/tradingview/charting-library-examples/tree/master/react-javascript:

[2020-04-30 07:25] #171 closed

[2020-05-06 02:56] TinkerBuild commented on #81
hi can u do it in flutter?

[2020-05-06 09:59] makedonsky94 commented on #81
Unfortunately, current state of WebView in Flutter is not acceptable. The widget still needs a lot of improvements.
At the moment you can use combination of native code and Flutter. Check [this link out](https://flutter.dev/docs/development/add-to-app)

[2020-05-08 06:30] sriharshpragya opened #173 "Trade detail overrides with candle bars"
![graph_issue](https://user-images.githubusercontent.com/43562762/81377609-85080680-9123-11ea-827a-b2ad59eb8023.png)

**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to '....' folder
3. Run command
4. See error

**E

[2020-05-08 07:49] eugene-korobko commented on #173
Hello!

Could you please clarify you question? What do you mean as "trade details"? If you're talking about lines with symbol description and OHLC values - we call it legend - you could customize it with [featuresets](https://github.com/tradingview/charting_library/wiki/Legend)

[2020-05-08 18:00] andrewkenreich opened #174 "List of all available Indicators/Names"
Is there documentation on what to call all the different Built-In indicators when importing them into a chart?  I want to be sure we are calling them all correctly.

Currently we are referencing the Object Tree name and inputs there.

[2020-05-12 15:54] jairotunior commented on #85
Hello,

Yesterday I experienced the same issue trying to implement the tradingview charting library with Django.

The issue is inside the _charting_library.min.js_, this file create the route (in my case) for the file _en-tv-chart.08b1d9ed36065f36316f.html_ but it does not take into account the route for serving static files that Django implement.

In the settings.py Django defines the next proper

[2020-05-14 07:58] Itszeshan opened #175 "Android Implementation"
Like there is SDK for IOS, isn't there any SDK for Android. I've seen android example in which basically library is loaded from asset folder in a webview. My point is how to create that library which we can then load inside webview.

[2020-05-14 08:06] Moshnogorskaya commented on #175
Hello, @Itszeshan!

Please, copy all files from https://github.com/tradingview/charting_library/ to `app/src/main/assets/charting_library/`. The earliest supported version of the Charting Library is 1.12. If you get 404 then you need to [request an access to this repository](https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/).

[2020-05-14 08:13] Itszeshan commented on #175
Thank you @Moshnogorskaya!

Where can i request access to repo from "https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/" ? When i click on "Get library", it takes me back to github.

[2020-05-14 11:40] timocov commented on #175
@Itszeshan on which "Get Library" button you clicked? You need to click on "Technical Analysis Charts"'s one:

![image](https://user-images.githubusercontent.com/3112183/81930152-d0715780-95f0-11ea-98f1-63c4f6fd2ea7.png)

[2020-05-14 18:13] timocov commented on #85
@jairotunior that's what [library_path](https://github.com/tradingview/charting_library/wiki/Widget-Constructor#library_path) is for.

[2020-05-14 20:41] Itszeshan commented on #175
Got it, Thanks

[2020-05-14 20:41] #175 closed

[2020-05-16 19:25] valervarga commented on #56
This one worked for me: [#5 (comment)](https://github.com/jonchurch/tradingview-js-api-tutorial/issues/5#issuecomment-629694127)

[2020-06-01 02:38] skywalker2013 commented on #122
@yuriygeorge how did you solve issue ?

[2020-06-05 13:32] brandoncollins7 commented on #99
This does not fix the issue. -s is required for the router to be able to select the correct page...

[2020-06-22 17:16] Padavan-itbeard commented on #86
The same problem, the React project is going to webpack. Tell us how to solve?

Failed to compile
./src/charting_library/charting_library.min.js
  Line 1:1:      Expected an assignment or function call and instead saw an expression  no-unused-expressions
  Line 1:107:    'define' is not defined                                                no-undef
  Line 1:118:    'define' is not defined

[2020-06-23 06:47] timocov commented on #86
@Padavan-itbeard look at pinned issue https://github.com/tradingview/charting-library-examples/issues/36

[2020-06-23 07:59] Padavan-itbeard commented on #86
@timocov the second day I reread all the messages in this section. Here [https://github.com/tradingview/charting-library-tutorial/blob/master/documentation/home.md](url) and [https://github.com/tradingview/charting-library-examples/blob/c602d87d302f6c4de39b26dc1f36bd8ae6723aff/angular5/src/app/tv-chart-container/tv-chart-container.component.ts#L2-L7](url) and [https://github.com/tradingview/charti

[2020-06-24 10:35] AlokPundir commented on #60
Hi getting error : Unhandled Rejection (TypeError): t._innerWindow(...).widgetReady is not a function

(anonymous function)
src/charting_library/charting_library.min.js:232
  229 |     i.addEventListener("load", e, !1);
  230 | })),
  231 | this._innerWindowLoaded.then(function () {

      | ^  233 |         t._ready = !0;
  234 |         for (var e = 0, o = t._readyHandlers; e < o.length; e++) {

[2020-06-25 03:52] AlokPundir opened #178 "Unhandled Rejection (TypeError): t._innerWindow(...).widgetReady is not a function"
**Bug report**

Unhandled Rejection (TypeError): t._innerWindow(...).widgetReady is not a function
(anonymous function)
src/charting_library/charting_library.min.js:232
229 | i.addEventListener("load", e, !1);
230 | })),
231 | this._innerWindowLoaded.then(function () {

232 | t._innerWindow().widgetReady(function () {
| ^ 233 | t._ready = !0;
234 | for (var e = 0, o = t._readyHandlers; e < o.lengt

[2020-06-25 13:24] Moshnogorskaya commented on #178
Duplicate of https://github.com/tradingview/charting_library/issues/5085

[2020-06-25 13:24] #178 closed

[2020-07-10 09:16] jurisbunkerex opened #180 "Angular 9 - Cannot read property 'UDFCompatibleDatafeed' of undefined"
Hello,

I don't consider this duplicate with other issues, because previous solutions don't work.

I am trying to make tradingview to work with Angular 9, but I am getting TypeError:
`Cannot read property 'UDFCompatibleDatafeed' of undefined`

I have inserted script sources in index.html.
Added `"exclude": ["assets/datafeeds/udf/src"]` to tsconfig

Tried a lot of things but this line doesn't work:

[2020-07-10 10:13] timocov commented on #180
Quite possible that the example code isn't adopted for higher Angular versions (higher than we have in package.json there).

[2020-07-10 10:13] timocov commented on #180
So, can you create small repro for this issue?

[2020-07-10 10:42] jurisbunkerex commented on #180
🐞 bug report
Affected Package
Presumably assets/datafeeds

Description
Example code doesn't work on higher Angular version

🔬 Minimal Reproduction
- index.html:
[code]

- tsconfig.app.json:
[code]

- component.ts:
[code]
🔥 Exception or Error
`TypeError: Cannot read property 'UDFCompatibleDatafeed' of undefined`

🌍 Your Environment
[code]
Anything else relevant?

[2020-07-10 11:12] jurisbunkerex commented on #180
Works fine in this env:

`"dependencies": {
    "@angular/animations": "~9.1.12",
    "@angular/cdk": "^9.2.4",
    "@angular/common": "~9.1.12",
    "@angular/compiler": "~9.1.12",
    "@angular/core": "~9.1.12",
    "@angular/forms": "~9.1.12",
    "@angular/material": "^9.2.4",
    "@angular/platform-browser": "~9.1.12",
    "@angular/platform-browser-dynamic": "~9.1.12",
    "@angular/router":

[2020-07-10 11:14] jurisbunkerex commented on #180
Needs an ng update

[2020-07-10 11:14] #180 closed

[2020-07-14 11:58] tusharquantsapp opened #181 "bug"
vendors.7b3c16ffccc2173faf89.js:45 [Intervention] Ignored attempt to cancel a touchstart event with cancelable=false, for example because scrolling is in progress and cannot be interrupted.

[2020-07-15 23:45] AdelfaPoesis commented on #169
@makedonsky94 Any updates on this?

[2020-07-20 08:31] mitalthakkar opened #182 "I am unable to unsubscribe previous api calls on symbol change"
Hello,

I am a trading view library in React JS. So Whenever symbol changed than the previous API also continuously running so I don't know how to unsubscribe previous API call?

Your quick response will be helpful.

Thanks

[2020-07-21 11:01] makedonsky94 commented on #169
@AdelfaPoesis Hi! We are plannig to make this task at the near feature. I will send an update here when the example will be ready.

[2020-07-30 21:09] TradeRabbit commented on #170
I have been encountering the same error, the only solution so far is to put it in a new, clean project, when it is integrated with an existing project this error happens, I have not yet been able to identify where the incompatibility is;

[2020-08-06 10:28] xana-rahmani opened #183 "Tradingview chart not working"
I get the following error when running yarn serve in vue.js:

### my code:

* index.html:
   ``` <script src="<%= BASE_URL %>tv/1.14/e6c52313/tv.js"></script> ```

* TVChartContainer component:

[code]

### code structure:

[code]

### ERORR:

[code]

[2020-08-06 12:23] ugar0ff opened #184 "Need help with Android wrapper"
Hi.
In this repository you have an example for an Android application. In the file [MainActivity.kt](https://github.com/tradingview/charting-library-examples/blob/master/android/app/src/main/java/com/tradingview/android/MainActivity.kt)  you show how can change the interval on the graph.
You can expand them to show how add and updated bars for chart?

I'm added library to folder _app/src/main/asse

[2020-08-06 20:34] #183 closed

[2020-08-07 01:22] cmc-markets-mpark opened #185 "Please provide Android library"
- **Framework/library:**
- **Link to page with the framework/library:**
There is no library included in Android example. Do you have any plan to host it or how can I get it?

[2020-08-13 13:42] timocov commented on #184
You have to implement your datafeed and pass the data to that datafeed somehow

[2020-08-13 13:44] timocov commented on #185
It's available on https://github.com/tradingview/charting_library, but you need to get access first.

[2020-08-13 13:44] #185 closed

[2020-08-18 07:53] tusharquantsapp commented on #161
@marketdevsoft  add - 'as ExchangeDataResponseSymbolData' to the return statement in  src/assets/datafeeds/udf/src/symbols-storage.ts:76:3

[2020-08-20 10:28] ahsan084 opened #186 "How to plot tradingView chart with own data for IOS"
I am trying to populate chart data with own data but didn't find any example.Can anyone tell me how to do that in IOS swift Thanks

[2020-08-20 12:40] Moshnogorskaya commented on #186
Hello @ahsan084 !
Here is an iOS example https://github.com/tradingview/charting-library-examples/tree/master/ios-swift

[2020-08-21 05:39] ahsan084 commented on #186
Thanks @Moshnogorskaya I have done this thing already and default AAPL is showing now trying to plot my own data like crypto pairs(BTC/USTD) but didn't find any solution to achieve this thing.

[2020-08-21 08:26] timocov commented on #186
@ahsan084 you have to implement your own datafeed and pass it to the library's constructor. Or, if you don't like to implement client-side datafeed, you can use UDF impl instead and just implement server-side adapter for it.

[2020-08-21 08:26] #186 closed

[2020-08-24 10:38] Ferigit commented on #110
@Ale-cc hi, did you solve thru this way!? it does not work for me!

[2020-09-24 09:32] nareshsr commented on #135
On commenting the above 249, 285 line it works perfectly for me

[2020-09-25 22:11] sandroboehme opened #187 "The Angular 5 example produces errors"
**Checklist**

- [x ] This issue is **NOT** related to the charting library itself

**Describe the bug**

1. Running the Angular 5 example out of the box results in `ERROR in src/app/tv-chart-container/tv-chart-container.component.ts(16,5): error TS2322: Type '"D"' is not assignable to type 'Nominal<string, "ResolutionString">'.
  Type '"D"' is not assignable to type '{ [Symbol.species]: "Resoluti

[2020-09-29 04:18] nareshsr commented on #135
I am using 3.7.2. and also the same version on angular

[2020-09-30 18:14] alinetskyi commented on #81
Hey, anybody has any news regarding this ?

[2020-10-13 14:17] raghibislam opened #189 "Unhandled Rejection (TypeError): t._innerWindow(...).widgetReady is not a function"
I used this library in react js application with finnhub.io api and getting this error .

×
Unhandled Rejection (TypeError): t._innerWindow(...).widgetReady is not a function
(anonymous function)
src/charting_library/charting_library.min.js:314
  311 |   n.addEventListener("load", e, !1);
  312 | })),
  313 | this._innerWindowLoaded.then(function () {

      | ^  315 |     t._ready = !0;
  316 |

[2020-10-19 08:21] timocov commented on #189
Did you look in similar issues https://github.com/tradingview/charting-library-examples/issues?q=is%3Aissue+sort%3Aupdated-desc+widgetReady+is%3Aclosed ?

[2020-10-19 13:34] raghibislam commented on #189
Similar but  i have issue on line number 314 . And from the above link I can't solve the issue at all.

[2020-10-21 13:51] timocov commented on #189
Can you check what's loading inside iframe? Probably you get 404 or different page there.

[2020-10-21 13:55] #187 closed

[2020-10-21 17:26] raghibislam commented on #189
**Please check this image , i hope this will help you**

https://user-images.githubusercontent.com/46419375/96755464-7a4fde00-13f2-11eb-9325-c6d2a29c4ad1.png

Best regards.

[2020-10-22 08:16] timocov commented on #189
@raghibislam it doesn't answer on my question. I got your point and seen this error many times, that's why I asked about checking what exactly is loaded inside iframe.

[2020-10-28 16:39] monil23 commented on #36
I have eslint-disable at the top of the file but its still giving this error
![Screenshot from 2020-10-28 22-08-29](https://user-images.githubusercontent.com/72521161/97467366-213ff700-196a-11eb-88eb-c467cc10ac90.png)

[2020-10-29 18:57] bradrobertson commented on #157
You've given people access to a private Github repo right? Why couldn't we also get access to a private NPM source?

[2020-10-31 02:54] xichangzhou opened #190 "请问有没有人将这个图表使用在electron上面，而且使用快捷键搜索股票的？怎么才能使快捷键搜索在全局有效？"

[2020-11-04 10:47] R1ITAdmin opened #191 "How to integrate angular trading view implemention with ICE API INFO ?"
Trading view chart implementation  is done using https://github.com/tradingview/charting-library-examples/tree/master/angular5.
Pricing data is being provided by ICE Data. ICE Data developer site, and documentation is available here:

https://developer.theice.com/

Now, Issue is how to call and handle ICE API xml response in UDF adaptor implentation, it does'nt allow to include any external node p

[2020-11-05 23:05] bfriel opened #192 "React: Can't resolve '../../charting_library/charting_library.min'"
**Checklist**

- [x] This issue is **NOT** related to the charting library itself

**Describe the bug**

I am unable to compile the [React Integration Example](https://github.com/tradingview/charting-library-examples/tree/master/react-javascript). After following the four steps under the "How to Start" section, I see the following error:

[code]

**To Reproduce**

Steps to reproduce the behavior:

[2020-11-06 06:53] eugene-korobko commented on #192
Hello!

It looks like the sampe is looking for minimized build of the library.
Could you please check your `./src/charting_library` folder if it has 'charting_library.js' or 'charting_library.min.js'
If it has charting_library.js, just change ./src/components/TVChartContainer/index.jsx file with replacing 'charting_library.min.js' with 'charting_library.js'

[2020-11-06 07:31] bhp-work commented on #192
I am also facing the same issue! I replaced the file as suggested by eugene-korobko , but still error is there.

[2020-11-06 07:44] eugene-korobko commented on #192
Hello!

Could you please check what charting_library* files are in the ./src/charting_library folder?

[2020-11-06 08:45] bhp-work commented on #192
![crp](https://user-images.githubusercontent.com/70111150/98344438-405d1980-2039-11eb-8a4f-3e4831cdb510.png)

oops! I guess I have put charting_library and datafeed in 'public' folder and not in 'src' folder.
I cloned the charting library again and now I have the charting_library/charting_library.min.js file.  But the error is still there.

@eugene-korobko  shall I move the charting_library inside

[2020-11-06 08:54] eugene-korobko commented on #192
Hello!

According to the readme.md file,

1. Copy `charting_library` folder from https://github.com/tradingview/charting_library/ to `/public` and to `/src` folders. The earliest supported version of the Charting Library is 1.12. If you get 404 then you need to [request an access to this repository](https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/).
1. Copy `datafeeds` folde

[2020-11-06 09:20] bhp-work commented on #192
Hi,

Now I have copied chartling_library to /public **AND** to src folder.
Module error is resolved, but its throwing error on page

I have charting_library.min.js file in the src/charting_library.

![crp](https://user-images.githubusercontent.com/70111150/98348665-0c84f280-203f-11eb-8969-ea6e706944c2.png)

[2020-11-06 09:58] bhp-work commented on #192
Hi,

Now I have copied charting_library to /public **AND** to src folder.
Module error is resolved, but its throwing error on page

I have **charting_library.min.js** file in the src/charting_library.

![crp](https://user-images.githubusercontent.com/70111150/98352900-9edbc500-2044-11eb-94d4-67b0ec2de2ce.png)

[2020-11-06 12:14] timocov commented on #190
Please use English.

[2020-11-06 12:14] #190 closed

[2020-11-06 13:45] bhp-work commented on #192
Hello,

My error is resolved. Below paths worked for me....

public/index.html =>
 `<script src="charting_library/datafeeds/udf/dist/polyfills.js"></script>
  <script src="datafeeds/udf/dist/bundle.js"></script>`

src/components/TVChartContainer/index.jsx =>
`import {widget} from '../../charting_library/charting_library.min';`

Also I compiled the project using below commands. But this compilation

[2020-11-06 20:36] bfriel commented on #192
Hi @eugene-korobko ,

I was able to compile by switching the link from `charting_library.min` to `charting_library.js`. I should note, however, that this also threw a `'define' is not defined` error outlined [here](https://github.com/tradingview/charting-library-examples/issues/36). I was able to resolve that by referencing [this comment](https://github.com/tradingview/charting-library-examples/is

[2020-11-09 02:40] DT021 opened #193 "Stocks streaming/live data"
Is there any examples of US stocks streaming/live data implementation? I cannot find anything on that whatsoever. I am having hard time putting that together. I would even be willing to pay someone if they can put together a detailed tutorial on how to do that and tie that to the saveload_backend module. Thank you

[2020-11-09 11:12] timocov commented on #191
You don't have to use UDF in this case, you can implement your own datafeed with any library you'd like to use there. Also, UDF datafeed sample allows you use any npm package you'd like, it doesn't have any restriction regardless that.

[2020-11-09 19:22] #192 closed

[2020-11-10 06:17] R1ITAdmin commented on #191
Do we have for JS API implentation in this case, if so how would socket implentation done this that case for connecting with ICE API endpoints. Let me know, your suggestions for that..

Also Can you share example related to that??

For now, I have customised udf adaptor implemetation to call our ICE endpoint and convert xml to json and handle response for resolveSymbol  and getBars methods.

Also

[2020-11-11 17:48] umarsa opened #195 "Charts not working in React production build (yarn build/serve)"
**Checklist**

- [X] This issue is **NOT** related to the charting library itself

I have downloaded the examples from this repo and the charts seem to work just fine when running locally using yarn start. Once you create a production build (yarn build), the resulting web app does not have working charts.

![image](https://user-images.githubusercontent.com/10274401/98845529-c3b9a900-2445-11eb-8728

[2020-11-12 08:45] timocov commented on #195
https://github.com/tradingview/charting-library-examples/issues/15#issuecomment-411001758

[2020-11-12 08:45] #195 closed

[2020-11-12 11:01] timocov commented on #191
I'm afraid I can't suggest anything related to this.

[2020-11-12 11:01] timocov commented on #191
Also, it seems that the issue isn't related to examples, so I'm going to close the issue.

[2020-11-12 11:01] #191 closed

[2020-11-12 11:02] timocov commented on #191
If you'd like you can ask help on stackoverflow or in discord server https://discord.gg/E6UthXZ

[2020-11-12 12:01] X-AE-A12 opened #196 "Unable to resolve library_path using Vue"
- [ x  ] This issue is **NOT** related to the charting library itself

**Describe the bug**

`t._innerWindow(...).widgetReady is not a function`
I know this is a common issue, but so far none of the solutions provided to this problem were able to help me out. I am convinced this is library_path issue, though I can't seem to make a proper reference to the path. I am using the Vue.js example and hav

[2020-11-14 13:42] Abolfazl2647 commented on #86
i facing the same issue as u do.
i'm not sure this is the correct way but i guess this solution and it's worked well.
here:
i copy all the code inside of `charting_library.min` and paste in babel.
the babel change it so some sort other syntax then i copy that and replace it with current code.
every thing works fine and trading view shows up plus i can build it aaaaaand CICD build was successfull.

[2020-11-16 06:52] DT021 commented on #193
bump

[2020-11-16 09:49] timocov commented on #193
What are you looking for? Server-side or client-side implementation?

I don't think that there is a difference with non-US stocks implementation, it doesn't really matter what you stream from the datafeed.

saveload_backend isn't about streaming the data, it's about saving/restoring charts, it's different kind of services. You need to look at https://github.com/tradingview/yahoo_datafeed - this is

[2020-11-16 09:52] timocov commented on #86
The latest versions of the library includes not only umd module for `charting_library.js` file, but esm and cjs as well, so you don't need to import `../path/to/charting_library/charting_library.js` anymore - just use `../path/to/charting_library` and let's decide your bundler choose correct version of the module (there is `package.json` file where specified `main` and `module` fields).

[2020-11-16 09:54] X-AE-A12 commented on #196
FYI: my comments about the librarypath is in reference to: https://github.com/tradingview/charting-library-examples/issues/110#issuecomment-519492498

[2020-11-16 09:56] timocov commented on #196
Can you please create repro of that?

[2020-11-16 10:05] X-AE-A12 commented on #196
Sure, here: https://github.com/X-AE-A12/registrarcap-frontend

Just install dependencies and then run `npm run dev`

[2020-11-17 17:08] nantha42 commented on #86
I followed the following steps given in next js example.
1. Install dependencies npm install.
2. Copy charting_library folder from https://github.com/tradingview/charting_library/ to /static folders. The earliest supported version of the Charting Library is 1.14. If you get 404 then you need to request an access to this repository.
3. Copy datafeeds folder from https://github.com/tradingview/chart

[2020-11-22 21:23] X-AE-A12 commented on #196
Any ideas what could be the case here?

[2020-11-23 10:01] X-AE-A12 commented on #196
Never mind, found the issue. Turns out /static/ is the proper reference

[2020-11-23 10:01] #196 closed

[2020-11-24 16:50] Fawaz456 commented on #92
@moderniinfotech-123  Tried it still getting same error

ERROR TypeError: Cannot read property 'UDFCompatibleDatafeed' of undefined

[2020-11-25 07:21] OnePieceLiu opened #198 "Module not found: Can't resolve '../../charting_library/charting_library.min'"
./src/components/TVChartContainer/index.tsx
Module not found: Can't resolve '../../charting_library/charting_library.min' in 'C:\Users\lz\Desktop\charting-library-examples-master\react-typescript\src\components\TVChartContainer'

[2020-11-26 06:36] ittradelab opened #199 "Save indicators locally"
I want to save indicators selected among the available indicators so that when we load a new chart , the selected indicator should be visible . Currently we we load a new chart or refresh the page , the selected indicator is gone and the default one shows .

![image](https://user-images.githubusercontent.com/10204530/100315851-5d08c380-2fdf-11eb-95b4-ce41967a04de.png)

[2020-11-27 09:32] timocov commented on #198
What version of the library you use?

[2020-11-27 09:34] timocov commented on #92
@moderniinfotech-123 also you can import datafeeds instead of using datafeeds from global scope `datafeed: new (window as any).Datafeeds.UDFCompatibleDatafeed(this._datafeedUrl),`.

[2020-11-27 09:50] timocov commented on #86
See #198. I think that we have to update our samples to work with 17+ version. @nantha42 what version of the library you use? Try to replace `static/charting_library/charting_library.min` with `static/charting_library`, I hope this might help.

[2020-11-27 20:34] CagriAldemir opened #200 "Charting Library Manually Call API from Widget Object"
Whenever I want, I want the charting library to call the API and update itself via a function. So I want to update chart whenever I want, not with interval. How can I do that?

[2020-12-03 16:14] hartantojuc commented on #86
i used the 17+ version and have been following to change the `assets/charting_library/charting_library.min` into `asset/scharting_library/charting_library`

but it gave me the error when compiled using ionic framework with some error in css file
![image](https://user-images.githubusercontent.com/56338483/101056083-30dfda80-35bd-11eb-8b52-76f847e5463a.png)

[2020-12-07 15:22] bmilliren commented on #92
@timocov we are having the exact same issue and we are importing. I am loading both Bundle.js and Pollyfills.js into the index.html but we are still getting this error from the componentDidMount function. Appears that the datafeed is undefined. Any help would be much appreciated. We are trying to integrate the trading view within our application for technical analysis and have been struggling with

[2020-12-10 08:29] sschiessl-bcp commented on #198
Hello there,

I am running in the same problem using the react-javascript example. I use the latest charting_library (commit hash 02b61a1). It does not contain a min version, and I tried without min as well.

[2020-12-10 08:57] sschiessl-bcp commented on #198
I added https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104 to the library js, now I see this error
![image](https://user-images.githubusercontent.com/33128181/101749477-14b4cf80-3ace-11eb-8652-73bcee703559.png)

[2020-12-10 14:48] ivanjulian commented on #198
just try this import:
import { widget } from './charting_library/charting_library';

and also add /* eslint-disable */ at the top of this file to the file from './charting_library/charting_library';

For me it works!

[2020-12-10 15:46] sschiessl-bcp commented on #198
Which commit hash did you use for the charting_library, and are you running an otherwise unchanged copy of the react-javascript example? I did what you suggested, but it does not work for me and I am running into the error `widgetReady` (see above) ...

[2020-12-12 18:46] azivkovi commented on #198
`import { widget } from '../../charting_library/charting_library.esm';` solved this issue for me.

[2020-12-14 07:16] michaelkk opened #202 "Example of a React App on a CDN"
- **React**
- **https://reactjs.org**

Hey everyone! I'm wondering regarding hosting charting library on some static server (like CDN).

I wrote my app using create-react-app template as in the example. And wanted to server static files somewhere on another subdomain (it's quite easy customising [PUBLIC_URL](url)). I tried to set **library_path** to the same CDN url, but faced with the problem tha

[2020-12-15 07:41] GarageInc commented on #202
Same problem, waiting solution :(

[2020-12-15 12:04] ShadiSimplbit commented on #170
`import { widget } from '../vendor/charting_library/charting_library.esm';`
this works for me

[2020-12-15 14:06] CryptoUncleSam commented on #170
Following ShadiSimplbit I did the follow!
Copy charting_library folder into public and src
src --> component --> TVChartContainer open index.jsx
Change ../charting_library.min to the full path of ../charting_library/charting_library.esm.js

[2020-12-16 08:43] ShadiSimplbit commented on #80
[https://github.com/tradingview/charting-library-examples/issues/170#issuecomment-745245792](i hope this will help)

[2020-12-21 17:01] aminkhorrami commented on #198
same problem here !

[2021-01-19 01:10] mindofmar opened #204 "[Question] Will React Native chart work with React Native Web?"
Link to package: https://github.com/necolas/react-native-web

I tried getting it to work, but am a noob with React Native.

[2021-01-21 13:05] augustofvilla opened #205 "CORS on iPhone 11"
Only on iPhone X/11, I'm having a CORS problem when trying to access the DataFeed on mobile example app and none of workaround make it work, has anyone facing a similar problem?

"Access-Control-Allow-Origin" on header, "Prevent Cross-Site Tracking" on Safari setting or 'mode' on 'get' didn't work.
However, it works perfect on any Android and older iPhone devices.

[2021-01-21 13:10] augustofvilla opened #206 "Static darafeed for React-Native app"
Is there any way for send a static block of data to the library on a react-native app instead of access a remote datafeed?

[2021-01-22 10:11] timocov commented on #205
Are you trying to connect to our sample datafeed, right?

If so, we faced similar issue with the latest iOS version (v14 I guess) - it refuses our certificate which is completely correct even by their own "new rules" (about short-term SSL certs) (it's really weird story actually though). Apple doesn't respond for my requests about this issue.

That's why we've registered a temporary domain for dat

[2021-01-22 10:11] timocov commented on #206
@makedonsky94 can you please take a look?

[2021-01-22 10:12] timocov commented on #206
Yes, I think this is possible. You need to implement your own datafeed and return the static data from it.

[2021-02-01 09:19] green-john commented on #189
Hi @timocov, I hope you are well! I'm also having this same issue.

I am using react and plain js. When I run the example, things work properly and I see the iframe has `src="/charting_library/....."`, however, when running in my react app, the src is missing `/charting_library/`. If I add it manually (as in changing the HTML from inspector) the graph loads. Here's my config

[code]

Thank you in

[2021-02-01 16:55] daisai3 commented on #178
@Moshnogorskaya , this link does not work.
https://github.com/tradingview/charting_library/issues/5085

[2021-02-01 19:53] option-i commented on #198
I had same problem. the react-javascript is out of date. I did this and it worked.
![image](https://user-images.githubusercontent.com/69353414/106510615-2c408100-649d-11eb-9c11-d866daaf9be6.png)

[2021-02-02 02:08] #189 closed

[2021-02-02 09:46] timocov commented on #178
@daisai3 do you have an access to charting_library?

[2021-02-02 09:47] timocov commented on #198
We're on the way to update all examples to use the latest version of charting_library, see #207.

[2021-02-02 09:50] daisai3 commented on #178
@timocov , yesterday I debugged the code line by line and noticed that it was an issue of version and configuration issue. I added charting_library in correct version both on `/public` folder and `/src` folders and finally I could see the charts on my side. :)

[2021-02-02 09:54] timocov commented on #198
Fixed in #207

[2021-02-02 09:54] #198 closed

[2021-02-05 14:13] amankumarp opened #208 "How can implement in react native with candle chart"
I am using the webview of tradingview in react native but I am can not manipulate the script data in dynamic .

[2021-02-05 14:17] eugene-korobko commented on #208
Hello!

Could you please clarufy your question, what do you mean as "manipulate the script data in dynamic" ?

[2021-02-05 18:44] amankumarp opened #209 "Please give a complete example of Tradingview candlechart in React native latest"
- **Framework/library:**
- **Link to page with the framework/library:**

[2021-02-08 08:31] timocov commented on #209
What's about https://github.com/tradingview/charting-library-examples/tree/master/react-native ?

[2021-02-09 08:04] caiqueacct commented on #30
Hi

Have anybody created a nuxt example?

I'm receiving the following error: { "statusCode": 404, "message": "This page could not be found" }  when using the vue example.

Thanks

[2021-02-11 05:19] #208 closed

[2021-02-11 05:20] #209 closed

[2021-02-12 16:26] option-i opened #210 "Time Series"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to '....' folder
3. Run command
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, a

[2021-02-18 08:31] ShashankOodles1 opened #211 "Not able to load to webview"
I can load normal Url To WebkView but unable to load from Bundle it only show Blank Nothing on Webview?

[2021-02-18 09:02] ShashankOodles1 opened #212 "Hi Team,"

[2021-02-18 09:07] ShashankOodles1 opened #213 "Not able to Load Index.html From Local URL present in Xcode project"
Hi Team,
We are currently facing issue when we try to load URL (Index.htlm) from Xcode project locally.
we are able to get URL (Load from Bundle) but the screen is blank.

but as in the demo URL i am able to load the chart.

Here is my Code

[code]

Here is my Index.html File :
[code]

Please let me know what i am doing wrong and share me the possible solution

[2021-02-18 12:59] kirchet commented on #212
Hi!

[2021-02-18 12:59] #212 closed

[2021-02-19 13:36] timocov commented on #213
@makedonsky94 can you please take a look?

[2021-02-19 13:37] timocov commented on #211
Let's continue in #213. I guess it's the same question.

[2021-02-19 13:37] #211 closed

[2021-02-19 13:39] timocov commented on #212
https://www.youtube.com/watch?v=0fz9-gqwThQ

[2021-02-19 13:40] makedonsky94 commented on #213
I guess there an issue with SSL certificates as we faced on iOS devices.

Replace
[code]
with
[code]

[2021-02-19 13:42] timocov commented on #213
https://bugs.webkit.org/show_bug.cgi?id=221953

[2021-02-20 06:16] ShashankOodles1 commented on #213
Hi Alexandr
I have changed the Datafeed url but still blank screen Coming no error!
Please Provide me any link for implementing trading chart view in iOS.

Thanks

On Fri, Feb 19, 2021 at 7:11 PM Alexandr Nevyantsev <
notifications@github.com> wrote:

[2021-02-20 17:31] makedonsky94 commented on #213
Can you check the error in Safari Web Inspector?

After the first open, Web Inspector won't have any error messages. You should click on reload button

[2021-02-21 18:14] ShashankOodles1 commented on #213
Hi Team
I Tried Everything Getting this message
Example[6375:237761] [Process] 0x7fc89701be20 - [pageProxyID=6, webPageID=7, PID=6382] WebPageProxy::didFailProvisionalLoadForFrame: frameID = 3, domain = NSURLErrorDomain, code = -1100
please Help Team

[2021-02-22 01:48] veerChauhan commented on #213
[code]
We are able to load other URL eg. the webpage where we have implemented trading view as well even this above code of heading and para works fine but the comented code is not working.

[2021-02-22 01:58] du0ngpv opened #215 "How to custom EMA length ?"
First, i am very sorry for asking question here.

I want to add 2 EMA: 34 and 89 to TradingView widget, but how can i custom the EMA length ? I search the internet and also in https://github.com/tradingview but nothing worked.

There is the code:

[code]

Thank for your help.

[2021-02-22 08:18] Bardiamist opened #216 "Font not supported by platform"
**Checklist**

- [x] This issue is **NOT** related to the charting library itself

**Describe the bug**

My team tried to deploy app to TestFlight and we got next

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Try to upload example to TestFlight

**Expected behavior**

App should be uploaded successfuly.

[2021-02-23 09:59] timocov commented on #215
This repo is not for tradingview's widget. If you'd like to get help with widget, please contact website's support instead.

[2021-02-23 09:59] #215 closed

[2021-02-23 10:19] timocov commented on #216
It seems that iOS supports that type of fonts since 10 version https://caniuse.com/?search=woff2. It's possible that the TestFlight team interprets that font like you're trying to use them inside the native app instead inside a webview?

[2021-02-23 10:33] Bardiamist commented on #216
Should be yes. But other developers started to have [the same problem from Xcode 12](https://developer.apple.com/forums/thread/657598). I see that [the same error code](https://stackoverflow.com/questions/64348482/itms-90853-invalid-font-on-testflight-external-testing) can happen when the `TTF` font is invalid. So maybe need to replace `WOFF` files by valid (according to Apple).

[2021-02-23 10:44] timocov commented on #216
Can you please elaborate what is "valid according by Apple"? I mean, maybe we can fix it somehow from our end (nevertheless I believe these fonts are valid though).

[2021-02-23 10:46] timocov commented on #216
@Bardiamist can you please check suggestion from https://stackoverflow.com/questions/64348482/itms-90853-invalid-font-on-testflight-external-testing?

@makedonsky94 can you please take a look?

[2021-02-23 10:52] Bardiamist commented on #216
I don't know why Apple thinks this files is not supported.

I tried to use this CR8 Software program. But this program don't support `WOFF`.

[2021-02-24 03:07] Bardiamist commented on #216
Now I just removed both files. Where is using that fonts?

[2021-02-24 08:08] timocov commented on #216
I believe it's different format of the same font and it's used in icon tool:

![image](https://user-images.githubusercontent.com/3112183/108967428-91e4ef00-7690-11eb-850c-27f68c044de0.png)

[2021-02-24 13:38] makedonsky94 commented on #213
@veerChauhan I found that the code from your example does not working properly.

There you need to change

`library_path: "charting_library"` to `library_path: "charting_library/"`

[2021-02-24 13:42] makedonsky94 commented on #213
@ShashankOodles1 That means there something bad happened in requests to local files. But I can't reproduce the bug with your example. Guess I'm using the different version of charting library. I need the error from Web Inspector. You can find it in Safari browser
![image](https://user-images.githubusercontent.com/11327827/109008804-cff90780-76be-11eb-94f2-baf25369a3d5.png)

[2021-02-24 17:20] muzairk92 commented on #81
Is there a tradingview example of flutter?

[2021-03-01 17:14] ShashankOodles1 commented on #213
@makedonsky94 Do have any demo for implementation of ios trading chart view.

[2021-03-02 10:59] makedonsky94 commented on #213
https://github.com/tradingview/charting-library-examples/tree/master/ios-swift
It was tested with the last version of charting library. If you have any troubles with this example please let us know what errors do you have in the Safari Web Inspector

[2021-03-02 11:35] ShashankOodles1 commented on #213
![Screenshot 2021-03-02 at 5 04 34 PM](https://user-images.githubusercontent.com/74229767/109642750-6161f100-7b79-11eb-96b7-ff199f6f0af7.png)
<!DOCTYPE HTML>
<html>
	<head>

		<title>TradingView Charting Library demo</title>

		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<script

[2021-03-02 14:04] makedonsky94 commented on #213
[code]
In which folder the js file do you have? As I can see in the previous code example you had `src="charting_library/charting_library.standalone.js"`

Also, you have incorrect domain name in datafeed url.
Replace
[code]
with
[code]

In the row
[code]
you should call
[code]

Please, check your code and try to run

[2021-03-02 15:38] ShashankOodles1 commented on #213
![Screenshot 2021-03-02 at 9 05 53 PM](https://user-images.githubusercontent.com/74229767/109672638-38eaee80-7b9b-11eb-8921-bbcc25a3abd9.png)
![Screenshot 2021-03-02 at 9 07 14 PM](https://user-images.githubusercontent.com/74229767/109672711-4a33fb00-7b9b-11eb-9aae-50f5487836ad.png)
<!DOCTYPE HTML>
<html>
	<head>

		<title>TradingView Charting Library demo</title>

		<meta name="viewport" content=

[2021-03-02 15:39] ShashankOodles1 commented on #213
@makedonsky94  please see and help

[2021-03-02 15:43] makedonsky94 commented on #213
Yep, the document can't load js library. So you got that error

Replace
[code]
with
[code]

[2021-03-02 15:48] ShashankOodles1 commented on #213
![Screenshot 2021-03-02 at 9 17 48 PM](https://user-images.githubusercontent.com/74229767/109674283-ced34900-7b9c-11eb-9a95-4ebed3ea02f0.png)

[2021-03-02 15:49] ShashankOodles1 commented on #213
![Screenshot 2021-03-02 at 9 19 18 PM](https://user-images.githubusercontent.com/74229767/109674497-f9250680-7b9c-11eb-8208-edb2e754f95e.png)

[2021-03-02 15:52] ShashankOodles1 commented on #213
![Screenshot 2021-03-02 at 9 20 37 PM](https://user-images.githubusercontent.com/74229767/109674819-3c7f7500-7b9d-11eb-8d8c-114dc64d7ce8.png)
in my charting Library i have two files same name so i used legacy system does it change cause any error
![Screenshot 2021-03-02 at 9 21 04 PM](https://user-images.githubusercontent.com/74229767/109675002-65076f00-7b9d-11eb-9b27-b8b8e06eea52.png)

[2021-03-02 15:53] ShashankOodles1 commented on #213
file:///Users/shashankmishra/Desktop/ios-swift/App/ChartingLibrary/charting_library/index.html this is the url when i drag my index file to safari browser

[2021-03-02 16:07] makedonsky94 commented on #213
Please, check your bundles. You should keep nesting of folders
![image](https://user-images.githubusercontent.com/11327827/109677192-7abf6900-7b8a-11eb-8116-bfee1c6e8444.png)

[2021-03-02 17:08] ShashankOodles1 commented on #213
![Screenshot 2021-03-02 at 10 37 53 PM](https://user-images.githubusercontent.com/74229767/109686096-f845a200-7ba7-11eb-9f14-aa559c114067.png)
still getting this

[2021-03-02 17:09] ShashankOodles1 commented on #213
![Uploading Screenshot 2021-03-02 at 10.39.37 PM.png…]()

[2021-03-02 17:12] ShashankOodles1 commented on #213
![Screenshot 2021-03-02 at 10 41 38 PM](https://user-images.githubusercontent.com/74229767/109686700-8457c980-7ba8-11eb-880e-dccbbcdf56fc.png)
![Screenshot 2021-03-02 at 10 41 50 PM](https://user-images.githubusercontent.com/74229767/109686714-8883e700-7ba8-11eb-809b-6c2df74dd895.png)

[2021-03-02 17:14] makedonsky94 commented on #213
https://github.com/tradingview/charting-library-examples/issues/213#issuecomment-789006933
At this screenshot the library loaded successfully. You broke something. Check the paths carefully

[2021-03-02 17:58] ShashankOodles1 commented on #213
@makedonsky94  chart is coming on safari but won't able to run on device

[2021-03-02 18:28] ShashankOodles1 commented on #213
![Screenshot 2021-03-02 at 11 57 08 PM](https://user-images.githubusercontent.com/74229767/109696433-0f3dc180-7bb3-11eb-8947-7ff4f4d5ab3d.png)
this is coming in safari

[2021-03-10 07:51] siddharthOodles opened #217 "Problem in Implementing TradingChartView in Android"
Hi Team.
I am Trying to Implement Trading Chart View Facing Problem So I Debug the Problem
please See
![Screenshot from 2021-03-10 12-55-46](https://user-images.githubusercontent.com/80384273/110594941-71925580-81a3-11eb-8116-7be22fe4188f.png)

I/chromium: [INFO:CONSOLE(2)] "Angular is running in the development mode. Call enableProdMode() to enable the production mode.", source: https://exchange.

[2021-03-13 15:04] yep365 opened #218 "Cannot read property 'changeSymbol' of undefined in TradingView (created by Graph)"
Cannot read property 'changeSymbol' of undefined in TradingView (created by Graph)
Issue is happening sometimes when loading a graph. Error goes from charting-library component.

[2021-03-29 03:39] linh626688 commented on #136
Hi @timocov I think I have issues with react-router and charting_library too.
I started with CRA, I work fine, but when adding react-router and Page have ChartComponent located in a route ( /chart ), the Chart didn't render when I changed route (/chart to /home, to /chart). I inspected src on browser and not see <iframe> elenmet

[2021-03-29 10:36] timocov commented on #136
How react-router works? Does it detach a node from DOM or remove it completely?

[2021-03-29 10:55] linh626688 commented on #136
As I know, React-router update a node from DOM

[2021-03-29 12:14] timocov commented on #136
@linh626688 Thus it removes iframe from the tree? It might be the issue, I think you need to patch router somehow to avoid removing iframe (or any its parent node) from the tree because detaching (replacing/removing) iframe from DOM automatically unload it.

[2021-03-29 15:16] linh626688 commented on #136
oh, I'm not sure about that. Do you have a sample or suggestion?

[2021-03-29 15:30] timocov commented on #136
@linh626688 No, unfortunately I'm not familiar with react-related stack much

[2021-04-10 05:34] kkapuria3 commented on #81
https://pub.dev/packages/trading_chart

Is this worthwhile looking into ?

[2021-04-14 00:22] teneon commented on #81
Since Flutter 2.0, web channel is now out of beta. I would also be very interested in Flutter example with Tradingview.

[2021-04-14 03:21] thanhnguyentdt opened #220 "hello Bros. How I Can get data realtime in Webview adnroid, or iOS, Thank You"

[2021-04-22 08:32] asharimh97 opened #221 "Where to put custom css file in Next JS?"
So I tried to implement the charting library using NextJS and I want to add `custom_css_url` but somehow it doesn't work.

Here's my widget options config :

[code]

My project structure is somehow like this:

[code]

I have tried to change `custom_css_url` to `../styles/custom.css` and `{{ROOT}}/tradingview/styles/custom.css` (while `ROOT` is my preconfigured site url e.g. `http://localhost:3000`

[2021-04-22 08:47] asharimh97 commented on #221
Sorry my bad, it's not the config, but my class name selector is wrong. Thanks!

[2021-04-22 08:47] #221 closed

[2021-04-24 21:45] Diogovski opened #222 "Tradingview Charts export to telegram"
Hi, i would like to know if it's possible to use this library to get tradingview charts(with indicators) and then send them as a message(chart image) to telegram. If not is there another library i couls use?

[2021-04-27 12:54] hakkikonu opened #223 "Angular 6: Failed to compile project (Typescript errors in charting_library folder)"
Hello, I want to integrate charting library to my Angular 6 project. I followed angular 5 integration steps from [this page](https://github.com/tradingview/charting-library-examples/tree/master/angular5)

I put _charting_library_ and _datafeeds_ folders to _/assets_ folder.

When I try` ng serve` I'm getting below typescript errors.

How can I fix below errors? Thanks.

[code]

### package.json:

[2021-04-29 02:35] SrBrahma commented on #204
Have you made any success?

[2021-05-01 11:57] SimonHausdorf opened #224 "Nextjs v11 with webpack5 doesn't work in dev mode"
I followed this tutorial: https://github.com/tradingview/charting-library-examples/tree/master/nextjs-javascript

When using `npm run build` and `npm run start` it works without problems. However, when using `npm run dev` tradingview isn't showing.

[2021-05-03 08:38] timocov commented on #222
I think it's better to ask such questions on StackOverflow instead.

[2021-05-03 08:38] #222 closed

[2021-05-03 08:40] timocov commented on #223
Don't think that we support such old TypeScript version. Can you please try to update it and try again?

[2021-05-03 08:40] #223 closed

[2021-05-03 13:29] timocov commented on #224
I just opened and it seems that it works fine:

![image](https://user-images.githubusercontent.com/3112183/116882085-ef129900-ac1b-11eb-8c3a-9e31dacd6a22.png)

Can you please share what exact steps you did?

[2021-05-05 18:45] creed-victor commented on #99
@timocov as said in the comment above, suggested solution is not a fix - only works for pages that have one page

[2021-05-06 11:10] sefaemrahoglu commented on #30
Hi

Can anyone help me urgently? I did just like vue example and I am getting 'document is not defined'.

this is **index.vue** html
`<div class="app"><TVChartContainer /></div>`
this is **index.vue** js
`
import TVChartContainer from '../components/TVChartContainer'
export default {
  components : {
    TVChartContainer
  }
}`

this is **TVChartContainer.vue** html

`<div class="TVChartContainer"

[2021-05-06 12:20] sefaemrahoglu opened #225 "Did anyone made Nuxt.js example before?"
I need nuxt.js example immediately . I tried but got an 'window is not defined' error. I did just like vue.js example

[2021-05-06 12:51] timocov commented on #225
First of all, it's a duplicate of #30. Please don't create duplicated issues, it doesn't help to solve your issue.

Secondly, please look at https://github.com/tradingview/charting-library-examples/pull/214. It didn't reviewed yet, but I think it might help you.

[2021-05-06 12:51] #225 closed

[2021-05-07 13:18] sefaemrahoglu commented on #30
I figured out how to fix the problem. for those who need nuxt.js working example of charting library. [nuxt.js charting library example](https://github.com/sefaemrahoglu/tradingview-charting-library-nuxt-example) @timocov

[2021-05-11 20:35] 1923998238 opened #226 "nuxt实例 运行无显示 无报错"
![image](https://user-images.githubusercontent.com/64238420/117881055-6068e080-b2db-11eb-843d-6f7bcfb5ec41.png)

[2021-05-13 06:41] timocov commented on #226
Please use English. Do you copy the library to the folder?

[2021-05-19 13:24] prasanna003 opened #227 "TradingView"
Can anyone please tell me how to plot tradingview chart with own data with react and node.

[2021-05-26 11:25] mkromann commented on #224
This is related to the newest versions of Next.js which defaults to Webpack 5.  but if you revert to Webpack 4 (in the future Webpack 4 will be deprecated).

[2021-06-02 15:09] Tokenspec commented on #224
The problem is repeated at random whenever I'm installing a new package and I'm force to override the node modules folder with a working copy every time this happens, does anyone have a fix? changing the next.config.js did not work for me.

[2021-06-03 05:42] alex-solovev commented on #12
LOL

[2021-06-03 15:03] diadal opened #228 "everything work fine on vue3 development"
chart not coming on vue3 `production` but it works fine on `dev` no error even when `debug: true` the loading just keeping running

<img width="787" alt="Screen Shot 2021-06-03 at 3 59 18 PM" src="https://user-images.githubusercontent.com/19895516/120667027-00ea9480-c485-11eb-9cc2-c6e7d3c8ac3a.png">

[2021-06-03 15:46] timocov commented on #228
Can you prepare an example with all changes you made for vue3? It seems that our example is suitable for vue2 only for now.

[2021-06-03 15:53] timocov commented on #227
Here is an example how to use charting library with react https://github.com/tradingview/charting-library-examples/tree/master/react-javascript

[2021-06-03 15:53] #227 closed

[2021-06-03 16:07] diadal commented on #228
clear cache fix this issue after 6 hours of digging

[2021-06-03 16:07] #228 closed

[2021-06-03 18:34] AlexeyGorbachevskiy opened #229 "Uncaught Error when multiselect empty area while bars are loading"
Steps to reproduce:
1) Scroll to the left. Empty area should be appeared on chart while bars not loaded. (emptyArea.png  example is attached)
2) When data is loading try **quickly** do multiselect on empty area **some times** (Ctrl+Drag - on windows, Cmd+Drag - on mac)
![emptyArea](https://user-images.githubusercontent.com/37103509/120694115-7f116000-c4b2-11eb-87be-b46d4d7d2688.png)
Actual Result:

[2021-06-03 18:43] AlexeyGorbachevskiy opened #230 "Fullscreen feature is not working on Chrome 91, Miscrosoft Edge 91"
Autosize=true in widget constructor.

TradingView fullscreen (Chrome 91):

![image](https://user-images.githubusercontent.com/37103509/120695852-846faa00-c4b4-11eb-977b-fcc957215c65.png)

![image](https://user-images.githubusercontent.com/37103509/120695778-728e0700-c4b4-11eb-82d9-298d39a97e4a.png)

[2021-06-03 18:53] AlexeyGorbachevskiy commented on #230
Closed by the reason of this issue refers to charting library itself

[2021-06-04 10:29] eugene-korobko commented on #229
Hello!

Could you please clarify what is chart structure? What studies/panes does it contain?

[2021-06-04 10:31] eugene-korobko commented on #229
Generally, I've reproduced the bug with more complex scenario

[2021-06-04 11:13] timocov commented on #230
First of all, it's Chrome issue https://bugs.chromium.org/p/chromium/issues/detail?id=1213418.
Secondly, we have fixed it already for charting library, see https://github.com/tradingview/charting_library/issues/5745.

[2021-06-04 11:13] #230 closed

[2021-06-04 11:20] AlexeyGorbachevskiy commented on #229
@eugene-korobko  I think it doesn't matter what's the chart structure, issue reproduced whout any additional studies/panes. Maybe you can suggest how can I disable multiselect feature or crosshair itself (naturally i will disable this only when bars are loading)

[2021-06-04 11:23] AlexeyGorbachevskiy commented on #230
@timocov Thanks great.

[2021-06-04 11:32] AlexeyGorbachevskiy commented on #230
@timocov  Can you please suggest whether this issue refers to resizing problem or not. (screen attached) Is this fixed in 18 or 19 version? Thanks a lot.
![image](https://user-images.githubusercontent.com/37103509/120794965-8d5a8d00-c541-11eb-98ac-15be7b68d29f.png)

[2021-06-04 11:46] timocov commented on #230
@AlexeyGorbachevskiy please see https://github.com/tradingview/charting_library/issues/5745, it was described there

[2021-06-04 19:44] muhammadashfaq opened #231 "unable to find index.html used in webView example react native"
**Checklist**
<img width="1440" alt="Screenshot 2021-06-05 at 12 42 40 AM" src="https://user-images.githubusercontent.com/48868012/120854771-0cc67b80-c597-11eb-82f3-af097c56d47f.png">

`import React, {Component} from 'react';
import {SafeAreaView, Alert} from 'react-native';
import {WebView} from 'react-native-webview';

let html = `<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" con

[2021-06-07 10:43] timocov commented on #231
Did you do 4th step from https://github.com/tradingview/charting-library-examples/tree/master/react-native#how-to-start---android ?

[2021-06-10 09:58] lugondev opened #232 "Price format small Price: 0.0000000000123"
https://www.dextools.io/app/uniswap/pair-explorer/0x9d549079669d382e9556ef2f4e8a7e1a616dae49

![image](https://user-images.githubusercontent.com/48004924/121500335-664fff80-ca08-11eb-97c7-7a9d302965a5.png)

Can anyone help me?
How to format small price with `...`?
thanks

[2021-06-12 08:00] PigeonSolToken opened #233 "Migrate to react-script from react-script-ts"
Hi Team,

Is it possible to create/update react-typescript example from **react-scripts-ts** to **react-scripts**. I am getting below error while upgrading to react-scripts:

./src/charting_library/charting_library.esm.js
  Line 1:1670:   Expected an assignment or function call and instead saw an expression  no-unused-expressions
  Line 1:2085:   Expected an assignment or function call and instead

[2021-06-13 20:39] PigeonSolToken commented on #233
https://github.com/tradingview/charting_library/issues/5797#issuecomment-860265769

[2021-06-13 20:39] #233 closed

[2021-06-22 05:02] mnkhod opened #234 "NextJS - chart only shows in build and not in dev"
reverting back from webpack 5 to webpack 4 fixes the problem

but this fix is shitty is there anyway to make it work in nextjs?

can there please be an example of nextjs and typescript projects :<

[2021-06-22 08:38] timocov commented on #234
Duplicate of #224

[2021-06-22 08:38] #234 closed

[2021-06-26 18:46] mnkhod commented on #224
is anyone working on making the chart compatible with webpack 5?

[2021-06-27 04:57] boskiv opened #235 "Will charting library support spread graph like AAPL/DECK ?"
Can I use it for spread chart if I have proper data for both symbols?
https://www.tradingview.com/support/solutions/43000502298-spread-charts/

[2021-07-02 03:23] jerokpradeep opened #236 "Out of the box example throws multiple errors calling an 'info' API"
I have downloaded and ran the VueJS example. Right after running this, I'm getting the following error continously.

sockjs.js?9be2:1609 **GET http://192.168.68.106:8081/sockjs-node/info?t=1625195581004** net::ERR_FAILED

The IP is Network IP of my machine only, but where to I stop this and why this is called repeatedly?
Please advice

[2021-07-02 06:20] eugene-korobko commented on #236
Hello!

It looks like your backend is not running.
Have you started it with
`npm run server` ?

[2021-07-05 03:31] manfulMr commented on #178
这个报错该如何处理啊？

[2021-07-09 16:28] PushpendraKum opened #237 "I am not able to see crypto pairs in angular"
Hi i am unable to view crypto pairs in angular. I did download angular 5 example code from here

[2021-07-12 11:01] vish2595 commented on #99
Getting same.

[2021-07-12 14:54] igamezzhen commented on #138
Hello

[2021-07-13 10:07] timocov commented on #237
@PushpendraKum can you please describe a bit more what errors you have, what did you do, etc?

[2021-07-14 09:41] vsly-ru opened #238 "Svelte integration?"
Is there a way to use charting lib with svelte?
No examples or mentions anywhere.

[2021-07-22 09:20] Manipulation101 opened #239 "MORE THAN 8 CHARTS PLEASE!"
Please allow more than 8 charts! and not restricted to a certain layout! FREE THE CHARTS!

[2021-07-27 13:34] nearshore-macedonia opened #240 "TypeError: Cannot read property 'UDFCompatibleDatafeed' of undefined"
I am getting

"TypeError: Cannot read property 'UDFCompatibleDatafeed' of undefined"

When i try to run react javascript example. Is this related to some module versions

The error is in: charting-library-examples-master/react-javascript/src/components/TVChartContainer/index.jsx:34

line: datafeed: new window.Datafeeds.UDFCompatibleDatafeed(this.props.datafeedUrl),

I have:
node version: 14.7.3
np

[2021-07-28 08:10] Sobi1995 opened #241 "custom go_to_date in tradingview"
I put a button on the below menu bar in the tradingview. when I click on it the modal will be open.in the modal, I have a date in the label. I want when I click on the label, the date to go to the specific date on the chart ?
[https://i.stack.imgur.com/loWfj.png](url)

[2021-07-29 10:16] timocov commented on #240
What's about datafeeds folder from 3rd point in https://github.com/tradingview/charting-library-examples/tree/master/react-javascript ?

[2021-07-29 12:12] nearshore-macedonia commented on #240
What do you mean?

[2021-07-30 10:34] nearshore-macedonia commented on #240
I have copied just part of datafeeds folder so in sense @timocov was right :)

[2021-07-30 10:34] #240 closed

[2021-07-31 12:41] ducthong97 commented on #81
I agree, please support Flutter, Flutter is growing super fast.

[2021-08-03 08:50] india-dion commented on #86
Did you got any solution for your issue?

[2021-08-03 08:51] india-dion commented on #86
Did you got any solution for your issue?

[2021-08-12 17:47] Coinsdev-bit commented on #231
Hello muhammadashfaq

Were you able to run?
I have the same problem

[2021-08-12 17:48] soia commented on #231
Hello muhammadashfaq

Were you able to run?
I have the same problem

[2021-08-24 01:18] OluAgunloye commented on #178
How did you get around this? What versions did you have to use ?

[2021-08-24 01:26] manfulMr commented on #178
I use TradingView version 19, which version do you use, but I made a mistake when I introduced it in the first step. I can't find the reason. Could you help me analyze the reason? thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "tradingview/charting

[2021-08-25 03:28] chicky095 commented on #92
Any update on this issue?

[2021-08-25 06:28] SunilKumarHurkat commented on #145
TypeError: window.TradingView.onready is not a function TVChartContainer.componentDidMount

/TradeViewChart/tradingview-js-api-tutorial-master/tradingview-js-api-tutorial-master/part1/src/components/TVChartContainer/index.jsx:58

[2021-08-29 16:55] anhcnt197vn opened #242 "[Help] How can I integrate charting library with gastby?"
- **Framework/library:**
- **Link to page with the framework/library:**

[2021-08-30 02:45] anhcnt197vn commented on #242
Mr @timocov could you please help me?

[2021-08-30 18:07] tjshipe commented on #224
I am using Next.js v 11.1 and the trading view charts also aren't rendering in dev mode. After doing a `yarn build` and deploying to production they show.

This didn't use to be an issue on Next.js 9.
![Screen Shot 2021-08-30 at 2 06 33 PM](https://user-images.githubusercontent.com/1254942/131384438-db11d87c-01b9-4cd8-b12a-1080b6cc4e24.png)

My guess is it's a problem with webpack 5 though. Previo

[2021-09-01 17:13] timocov commented on #242
@anhcnt197vn I think this pinned issue https://github.com/tradingview/charting-library-examples/issues/36 is about the similar issue so you can use the same approach to solve it https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104.

[2021-09-02 01:56] tjshipe opened #243 "TradingView crashes with Next.js 11"
I am using Next.js v 11.1 and the trading view charts also aren't rendering in dev mode. After doing a yarn build and deploying to production they show.

This didn't use to be an issue on Next.js 9.

My guess is it's a problem with webpack 5 though. Previous versions of Next used webpack 4.

![image](https://user-images.githubusercontent.com/1254942/131769008-d8bbc2cb-e180-49d4-92e7-9fe21f77f96c.p

[2021-09-02 10:42] timocov commented on #243
Duplicate of #224

[2021-09-02 10:42] #243 closed

[2021-09-02 20:13] tjshipe commented on #224
Can you try with Next.js 11 and let us know if it's working for you?

[2021-09-03 04:48] phamthainb commented on #243
@tjshipe I have got same issue, do you have solved it?

[2021-09-04 07:23] premier213 commented on #92
I still have this problem in next.js 11!

![image](https://user-images.githubusercontent.com/4321174/132086472-d5fc6ebd-0710-42db-9c92-a627cda26347.png)

[2021-09-06 08:58] anhcnt197vn commented on #242
Mr @timocov thank you for your answer!
- It's work! But I found another error about UDFCompatibleDatafeed undefined, I read issue #240 but it didn't help me at all. I copied the DataFeed folder to the public folder but it doesn't seem to be loaded.

![Screenshot 2021-09-06 at 3 51 16 PM](https://user-images.githubusercontent.com/62503444/132189844-d19b9f45-da5c-4c45-9634-a335bba10828.png)

[2021-09-06 11:17] edew commented on #224
It looks like this is a bug with Next.js/Webpack and resolving ESM files. I have created a minimal reproduction here  https://github.com/edew/nextjs-webpack-module-bug.

Until this is fixed in Next.js you can try one of these workarounds:
1. Revert to Webpack 4, or
2. Try deleting the `"type": "module"` line in Charting Library's package.json to force Webpack to resolve the file as a CommonJS modu

[2021-09-07 01:15] thicow commented on #81
Hi guys! Sorry for restarting this thread but I managed to run tv charting_library using [flutter_inappwebview](https://pub.dev/packages/flutter_inappwebview) and follow [this sample](https://github.com/zakir01913/flutter_webview_with_local_assest). It is running default and basic sample tv charting library.

import 'package:flutter/widgets.dart';
import 'package:flutter_inappwebview/flutter_inapp

[2021-09-07 10:43] timocov commented on #242
@anhcnt197vn you need either to include datafeeds file [similarly to this](https://github.com/tradingview/charting_library/blob/017382d7b8ee1636e73a5826aef9371eb754cd99/index.html#L13) or import datafeed explicitly in your file.

[2021-09-08 11:27] india-dion opened #244 "How can I integrate charting library with Web form in Asp.net"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to '....' folder
3. Run command
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, a

[2021-09-10 09:56] codedbystability opened #245 "404 NOT FOUND"
https://github.com/tradingview/charting_library/ leads to 404 and cant request to access that . i have signed up for tradingview but can not reach the provided link.

[2021-09-10 12:04] timocov commented on #245
please contact platform@tradingview.com

[2021-09-10 12:04] #245 closed

[2021-09-14 05:34] smpjsc1 opened #246 "how to change pricescale?"
i use funtion mainSeriesPriceFormatter() it return _pricescale=100. i want change it?how i can?

[2021-09-21 14:32] vawong opened #247 "React Native webview rendering blank screen"
- **Framework/library:** React Native

Picture of my code
![Screen Shot 2021-09-20 at 7 33 22 PM](https://user-images.githubusercontent.com/40028123/134090007-dd2826a8-581e-4949-a8a7-5250e1896595.png)

My tvWidget isn't rendering and just displays as a blank screen. Above is a screenshot of the code I'm using to render. I have the charting library repo downloaded and referenced correctly as well s

[2021-09-21 19:04] NeverGone97 commented on #247
the same help me please

[2021-09-21 19:08] NeverGone97 commented on #247
U remove safeview and text , and show only webview run for u.

[2021-09-21 19:09] NeverGone97 commented on #247
when i reload or go to other class when go back, webview rendering blank screen help me

[2021-09-21 19:14] vawong commented on #247
I also get No object exists at the desired reference. Please help with this. The example should work in this repo, not prove more problems.

[2021-09-21 19:19] NeverGone97 commented on #247
When i run example without safearea it working

[2021-09-21 19:22] vawong commented on #247
Is your code exactly the same? I'm running it and am still getting a blank screen.

[2021-09-21 19:36] vawong commented on #247
When I run the exact example, it says that the target does not exist.

[2021-09-22 01:07] NeverGone97 commented on #247
you open index.html in asset android check it and debug

[2021-09-22 02:19] vawong commented on #247
Ah, I’m on iOS.

On Tue, Sep 21, 2021 at 21:08 NeverGone97 ***@***.***> wrote:

--
*Vanessa Wong*
*(208) 908-9244 *|* v ***@***.******@***.***
***@***.***>*

[2021-09-22 02:31] NeverGone97 commented on #247
![image](https://user-images.githubusercontent.com/24682720/134274214-a628a14b-a5f0-4ede-b4f3-87ea4d4bbd53.png)
Are u follow it?

[2021-09-23 18:41] vawong commented on #247
Yes I am. I added charting_library files in my project's xcodeproj, ran ios, and am getting an error that looks like this:
![Screen Shot 2021-09-23 at 2 39 21 PM](https://user-images.githubusercontent.com/40028123/134564926-c3a18f90-40f6-4291-b3fc-b953d7b97bd3.png)
# #

I'm fairly sure I'm getting the same errors as this issue: https://github.com/tradingview/charting-library-examples/issues/231, w

[2021-09-28 08:41] Profit-tech opened #248 "React-native Integration JS API"
- I followed the example for React-native and it works for me.

<img width="363" alt="Screenshot 2021-09-28 at 11 11 45" src="https://user-images.githubusercontent.com/89030942/135049999-2d1635e8-bcdf-4f15-aa04-06fbe30c5590.png">

- But I cannot find a solution how can I integrate the js api.
Because if you follow the example.
Included is an index.html file that is not at the level of my react-nat

[2021-09-28 11:15] timocov commented on #248
I don't think that it is impossible because of that. Did you try to implement datafeed so it will request a data from your app rather that requesting it from the network. I think this should work fine.

[2021-09-28 13:58] Profit-tech commented on #248
The question is exactly how to implement datafeed in react-native application.

Let’s follow through the example:
- Open Example.xcodeproj in Xcode.
- Make a right click on AppName and select "Add Files to "AppName"".
- Copy all files from https://github.com/tradingview/charting_library/.

As a result added files will include index.html (it describes in tradingview configuration).
It displays via

[2021-09-29 12:26] makedonsky94 commented on #248
Hi! Please, check the documentation of [React Native WebView](https://github.com/react-native-webview/react-native-webview/blob/master/docs/Guide.md#communicating-between-js-and-native)

In the [example](https://github.com/tradingview/charting-library-examples/blob/master/react-native/app/ios.app.js) you can see Web-to-Native communication.
1. Inject javascript

[code]

    jsToInject

[code]

2.

[2021-09-29 14:54] ashokgaire commented on #85
had a similar issue , you need to provide the exact path from starting from datafeed.js file

for example , if you have.

static
  - cs
  - js
  - charting_library
  - src
       - datafeed.js

you library path must  looks like this.
library_path: 'static/charting_library/'

but here's an another use case .
let's say you are accessing the widget from path that's look like
localhost:8000/charts

th

[2021-10-01 04:01] dkwolfe4 commented on #238
There's a svelte-lightweight-charts library that uses the lightweight-charts library.  Unfortunately, all the REPL examples fail with a "Cannot find /coordinate-space in fancy-canvas@1.0.0" error, which appears to be a library versioning error.

[2021-10-03 21:03] Fxmoneydesk opened #249 "[Vue warn]: Error in mounted hook: "TypeError: Cannot read properties of undefined (reading 'UDFCompatibleDatafeed')" in vue.js with Laravel"
Vue.js with Laravel
[Vue warn]: Error in mounted hook: "TypeError: Cannot read properties of undefined (reading 'UDFCompatibleDatafeed')" in vue.js with Laravel
I do't derstad wat sold i do

[2021-10-17 16:26] taheriamin opened #251 "NextJS example doesn't work with `npm run dev`"
**Describe the bug**
Following the instructions, charting library doesn't load when running `npm run dev`. It only displays blank page when visiting localhost:3000
Everything works fine when I run `npm run build` and `npm start`

**Expected behavior**
localhost:3000 should show charting library when running `npm run dev`.

[2021-11-02 01:27] WansZzang opened #252 "How to Integrate on Flutter"
Hi, This is Kay Kim who is developing trading chart on Flutter.

We've already integrated charting_library to our cryptocurrency exchange system.

In this time, It is required to renewal Mobile Trading System. At last version, MTS was developed by Lua. But the new version has been developed by Flutter.

It was realized trading chart via mobile webview. The web side was developed by Vue.js. But it

[2021-11-03 23:28] CompendiumFi commented on #92
TypeError: Cannot read properties of undefined (reading 'UDFCompatibleDatafeed') after building production react

[2021-11-04 10:05] Merrick17 opened #253 "Cannot read property 'UDFCompatibleDatafeed' of undefined"
I implemented the charting library into serum-dex-ui , and it worked on local dev, after i build and deploy to the server
I get this error
![image](https://user-images.githubusercontent.com/25400839/140295173-b0e6a95d-7f82-43e3-8646-e0acc2106ef6.png)

[2021-11-07 07:07] alexanderytaylor commented on #81
@thicow could you please go into more detail about this? I'm trying to implement something similar

[2021-11-07 19:27] thicow commented on #81
Hi @alexanderytaylor !
I implemented exactly it. Using flutter_inappwebview I created a widget with InAppWebView using initialUrlRequest: URLRequest(url: Uri.parse("http://localhost:8080/assets/index.html")),

I download tv-chart-library into assets folder and configure pubspec.yalm:

assets:
- assets/index.html
- assets/charting_library/
- assets/datafeeds/
- assets/charting_library/bundles/
- as

[2021-11-07 22:18] alexanderytaylor commented on #81
@thicow thanks for the reply! Does setting the initialUrlRequest to localhost work when the site is live as well or just for debugging?

[2021-11-08 01:19] thicow commented on #81
Localhost everytime! Localhost becouse index.html works like a angular app (SPA)... I don't need open a remote website in initialUrlRequest.
But the most important is setting the urldatafeed to production datafeed in file index.html (https://github.com/tradingview/charting_library/blob/master/index.html) on line

[2021-11-10 11:53] Shai-E commented on #248
Did anyone come up with a working solution? Is there anyone who successfully integrated the charts in react native and made it look good on mobile?

[2021-11-12 15:27] IndiluStudio commented on #138
how to solve this?

[2021-11-12 15:28] IndiluStudio commented on #138
I am getting this through java code.

[2021-11-16 01:55] asharimh97 commented on #224
I tried this, it works when I revert the webpack to v4, but I have another module that only works when I use the webpack 5. So I tried another workaround, but after I deleted the `type: "module"` while using webpack 5 the chart won't show up.

*PS: I use NextJS 10

[2021-11-17 07:22] chenbosns opened #254 "Can the floating frame "Chart by Tradingview" in the lower left corner of the chart be removed?"

[2021-11-17 10:56] #254 closed

[2021-11-19 18:02] coditori commented on #252
I think you can implement Android and IOS separately (as native code)

[2021-11-23 03:52] chenbosns opened #256 "Can the floating frame "Chart by Tradingview" in the lower left corner of the chart be removed?"

[2021-11-23 06:01] romfrancois commented on #256
If you want to disable the whole logo please contact mruchkina@tradingview.com

[2021-11-23 17:49] timocov commented on #252
Duplicate of #81

[2021-11-23 17:49] #252 closed

[2021-12-08 12:53] CMLCNL opened #257 "What is the datafeed?"
We have our own data and we want to display it on tradingview charts. But there is such a thing as datafeed. What is datafeed? I couldn't find information anywhere. What data structure does it have?

This is how I worked in LightWeight for example.

[code]

What kind of data structure is there in Datafeed?

[2021-12-09 06:34] nomanabid123 opened #258 "By using example of official repo i got this error on running the project"
src\charting_library\charting_library.esm.js
  Line 77:7:    Expected an assignment or function call and instead saw an expression  no-unused-expressions
  Line 88:5:    Expected an assignment or function call and instead saw an expression  no-unused-expressions
  Line 123:5:   Expected an assignment or function call and instead saw an expression  no-unused-expressions
  Line 190:5:   Expected an

[2021-12-09 06:39] nomanabid123 commented on #60
how did you  fix this error

[2021-12-09 06:39] nomanabid123 commented on #60
src\charting_library\charting_library.esm.js
  Line 77:7:    Expected an assignment or function call and instead saw an expression  no-unused-expressions
  Line 88:5:    Expected an assignment or function call and instead saw an expression  no-unused-expressions
  Line 123:5:   Expected an assignment or function call and instead saw an expression  no-unused-expressions
  Line 190:5:   Expected an

[2021-12-10 10:46] timocov commented on #60
@nomanabid123 see https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104

[2021-12-10 10:52] timocov commented on #258
See https://github.com/tradingview/charting-library-examples/issues/36#issuecomment-411023104

[2021-12-10 10:52] #258 closed

[2021-12-10 11:43] Abolfazl2647 commented on #99
i face this issue and i had a repo like this.
`
/public -> tradingview lib here
/src
/dist
`
when i try to serve -s dist browser redirect the charting_library but when is serve the whole project , click and choose the dist folder it just works fine.
i think when you serve the dist folder the server have no idea to deal with the public folder which tradingview library is in it.

but when  i try to

[2021-12-12 23:00] icastillejogomez opened #259 "[react-typescript] unable to resolve dependency tree"
- [X] This issue is **NOT** related to the charting library itself

**Describe the bug**
Error installing react-typescript demo dependencies

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to 'react-typescript' folder
3. Run command: `npm install`
4. See the error:

[code]

**Additional context**

[code]

[2021-12-12 23:07] icastillejogomez opened #260 "Update min library version in examples"
**Checklist**

- [X] This issue is **NOT** related to the charting library itself

**Describe the bug**

When I run the react-typescript error this error occurs.

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo
2. Go to 'react-typescript' folder
3. Run yarn to install dependencies
3. Copy chartin_library folder inside charting_library repo to src and public folders
4.

[2021-12-13 14:55] timocov commented on #260
Please update your charting library version.

[2021-12-13 14:56] timocov commented on #259
@icastillejogomez would you like to provide fixes for this?

[2021-12-13 23:44] icastillejogomez commented on #260
I'm using the latest version available @timocov

[2021-12-13 23:45] icastillejogomez commented on #259
for sure @timocov what I have to do?

[2021-12-14 09:26] timocov commented on #260
@icastillejogomez what version do you use?

[2021-12-14 10:49] icastillejogomez commented on #260
@timocov The current version is: `CL v20.033 (internal id 9df149da @ 2021-11-17T10:20:51.511Z)`

[2021-12-14 13:32] timocov commented on #260
Sorry, I misunderstood your issue, my bad. We need to update our samples to make them work correctly with the latest versions.

For now, locally you can try to replace `container_id` with `container` [here](https://github.com/tradingview/charting-library-examples/blob/ce6966b32e649929e75366f66afbda4b18e7bd71/react-typescript/src/components/TVChartContainer/index.tsx#L62).

[2021-12-14 13:44] timocov commented on #259
It seems that `react-scripts-ts` is not supported any more... Probably we need to migrate to in-house configs instead.

Probably we could migrate to parcel@2 or esbuild instead then. Looks like an issue is more complicated than it looked at the first time 🙁

[2021-12-15 12:44] ChaitanyaZebpay opened #261 "Polyfills.js file in the nextjs example is not present in the charting library"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**
The `pollyfills.js` file which is mentioned here: https://github.com/tradingview/charting-library-examples/blob/master/nextjs-javascript/pages/_document.js#L8 is not present in the `datafeeds` I cloned from https://github.com/tradingview/trading_platform, only the `bundle.js` file is present. An

[2021-12-15 13:01] timocov commented on #261
Thanks for the report! I think we'll fix it in #260

[2021-12-16 04:38] ChaitanyaZebpay opened #262 "Nextjs example - doesn't works in the development mode"
**Checklist**

- [ ] This issue is **NOT** related to the charting library itself

**Describe the bug**
The nextjs example only works correctly if we run it in production mode: `yarn; yarn build; yarn start`. In case of development mode: `yarn; yarn dev` the chart container div is not even present in the DOM.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. Go to 'nextjs-jav

[2021-12-17 15:01] ChaitanyaZebpay commented on #262
Duplicate of https://github.com/tradingview/charting-library-examples/issues/224. But guys will appreciate if you could fix this asap.

[2021-12-17 15:01] #262 closed

[2021-12-22 05:49] ShashankOodles1 commented on #213
Hi @makedonsky94  i have implemented trading chart in Local Project but i am not able to change symbol as it is not accessible form

[2021-12-22 18:19] Solviewapp opened #263 "I can't execute the project (react-javascript)"
Hello everyone
I need charting_library for react javascript.
Thanks

[2021-12-22 19:06] romfrancois commented on #263
Hey @Solviewapp,

You could have a look at https://github.com/tradingview/charting-library-examples and try the react/js examples.